<?php
$config = Mage::getStoreConfig('hellothemesslideshow/config');
$route = Mage::app()->getFrontController()->getRequest()->getRouteName();
$action = Mage::app()->getFrontController()->getRequest()->getActionName();
if ( $config['enabled'] ) {
    $show = true;
    if ( $config['show'] == 'home' ) {
        $show = false;
        $page = Mage::app()->getFrontController()->getRequest()->getRouteName();

        if($page =='cms'){
            $cmsSingletonIdentifier = Mage::getSingleton('cms/page')->getIdentifier();
            $homeIdentifier = Mage::app()->getStore()->getConfig('web/default/cms_home_page');
            if($cmsSingletonIdentifier === $homeIdentifier){
                $show = true;
            }
        }
    }
    if ( $show && ($route == 'customer' && ($action == 'login' || $action == 'forgotpassword')) ) {
        $show = false;
    }
    if ( $show ) {
        ?>
    <!-- SLIDESHOW -->
	<div class="slider-container">
	<div class="main row row-fluid slider-row">
	
		<div class="slider span12">
			<div id="flexslider" class="flexslider">
				<ul class="slides">
					<?php
					$slides = $this->getSlides();
					foreach($slides as $s) {
						$style = $content = '';
						$attr = 'data-img-height="0"';
						if ( !empty($s['image']) ) {
							$imgSize = getimagesize(Mage::getBaseDir('media') .'/'. $s['image']);
							if ($imgSize) {
								//$style = "background:url('". Mage::getBaseUrl('media') . $s['image'] . "') 50% 0 no-repeat;";
								$attr = 'data-img-height="'.$imgSize[1].'"';
								$attrdesc = 'style="height:'.$imgSize[1].'px"';
							}
						}
						if ( !empty($s['slide_width']) ) {
							$content = 'style="width:'.$s['slide_width'].'px;"';
						}
						?>
					<li  <?php echo $attr; ?> >
						<?php //if ( !empty($s['small_image']) ) : ?>
						<!--img class="small_image" src="<?php echo Mage::getBaseUrl('media') . $s['small_image'] ?>" alt="" /-->
						<?php //endif; ?>
						
						<?php echo ( empty($s['slide_link']) ? '' : '<a href=\''.$s['slide_link'].'\'">' ); ?>

						<img src="<?php echo Mage::getBaseUrl('media') . $s['image'] ?>" alt="" />
						</a>
						<div class="description text-<?php echo $s['slide_align']; ?> span4" <?php echo $attrdesc; ?>>
							<div class="contenedor">
								<?php if ( !empty($s['slide_title']) ) : ?>
								<strong><?php echo $s['slide_title']; ?></strong>
								<?php endif; ?>
								<?php if ( !empty($s['slide_text']) ) : ?>
								<p><?php echo nl2br($s['slide_text']); ?></p>
								<?php endif; ?>
								<?php if ( !empty($s['slide_button']) ) : ?>
								<button class="button button_slide" <?php echo ( empty($s['slide_link']) ? '' : 'onclick="window.location=\''.$s['slide_link'].'\'"' ); ?>><i></i><?php echo $s['slide_button']; ?></button>
								<?php endif; ?>
							</div>
						</div>
					</li>
					<?php
					} // foreach($slides as $s) { ?>
				</ul>
			</div>
		</div>
	
	</div>
	</div>
    <script>
        var CONFIG_SLIDESHOW = {
            animation: "<?php echo ( in_array($config['animation'], array('slide', 'fade')) ? $config['animation'] : 'slide' ); ?>",
            slideshow: <?php echo ( in_array($config['slideshow'], array('true', 'false')) ? $config['slideshow'] : 'true' ); ?>,
            useCSS: false,
            animationLoop: <?php echo ( in_array($config['animation_loop'], array('true', 'false')) ? $config['animation_loop'] : 'true' ); ?>,
            mousewheel: <?php echo ( in_array($config['mousewheel'], array('true', 'false')) ? $config['mousewheel'] : 'false' ); ?>,
            smoothHeight: <?php echo ( in_array($config['smoothheight'], array('true', 'false')) ? $config['smoothheight'] : 'false' ); ?>,
            slideshowSpeed: <?php echo ( is_numeric($config['slideshow_speed']) ? $config['slideshow_speed'] : 7000 ); ?>,
            animationSpeed: <?php echo ( is_numeric($config['animation_speed']) ? $config['animation_speed'] : 600 ); ?>,
            pauseOnAction: true,
            pauseOnHover: true,
            controlNav: <?php echo ( in_array($config['control_nav'], array('true', 'false')) ? $config['control_nav'] : 'true' ); ?>,
            directionNav: <?php echo ( in_array($config['direction_nav'], array('true', 'false')) ? $config['direction_nav'] : 'true' ); ?>,
            timeline: <?php echo ( in_array($config['timeline'], array('true', 'false')) ? $config['timeline'] : 'true' ); ?>,
            height: "<?php echo (is_numeric($config['height']) ? $config['height'] : 'auto' ); ?>"
        }
    </script>
    <!-- SLIDESHOW EOF -->
    <?php } //if ( $show ) { ?>
<?php } //if ( $config['enabled'] ) { ?>