<?php

/**
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL).
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 *
 * @category   	Payment Gateway
 * @package    	MercadoPago
 * @author      André Fuhrman (andrefuhrman@gmail.com)
 * @copyright  	Copyright (c) MercadoPago [http://www.mercadopago.com]
 * @license    	http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */

?>

<fieldset class="form-list">
    <?php  $_code=$this->getMethodCode(); ?>
    <?php $_country = $this->getMethodCountry(); ?>

<ul id="payment_form_<?php  echo $_code ?>" >
       
        <?php if($this->getMethod()->getConfigData('acc_origin') == 'MLB'): ?>    
       <li>
        <img src="https://imgmp.mlstatic.com/org-img/MLB/MP/BANNERS/tipo2_468X60.jpg" alt="MercadoPago - Meios de pagamento" title="MercadoPago - Meios de pagamento" width="468" height="60"/>
       </li>
       <li>
       <?php echo $this->__('O Pagamento será realizado em uma janela de segurança do MercadoPago') ?>
       </li>
       <?php elseif($this->getMethod()->getConfigData('acc_origin') == 'MLM'): ?>  
       <li>
        <img src="https://imgmp.mlstatic.com/org-img/banners/mx/medios/MLM_468X60.JPG" title="MercadoPago - Medios de pago" alt="MercadoPago - Medios de pago" width="468" height="60"/>
       </li>
       <li>
       <?php echo $this->__('El pago se realizará en una ventana de seguridad del MercadoPago') ?>
       </li>
       <?php elseif($this->getMethod()->getConfigData('acc_origin') == 'MLV'): ?>  
       <li>
        <img src="https://imgmp.mlstatic.com/org-img/banners/ve/medios/468X60.jpg" title="MercadoPago - Medios de pago" alt="MercadoPago - Medios de pago" width="468" height="60"/>
       </li>
       <li>
       <?php echo $this->__('El pago se realizará en una ventana de seguridad del MercadoPago') ?>
       </li>
       <?php else: ?>  
       <li>
        <img src="https://imgmp.mlstatic.com/org-img/banners/ar/medios/468X60.jpg" title="MercadoPago - Medios de pago" alt="MercadoPago - Medios de pago" width="468" height="60"/>
       </li>
       <li>
       <?php echo $this->__('El pago se realizará en una ventana de seguridad del MercadoPago') ?>
       </li>
      <?php endif; ?> 
       
</ul>
<div>
    <?php echo $this->getMethod()->getConfigData('message');?>
</div>





