<?php $_menu = $this->renderCategoriesMenuHtml(0, 'level-top', 'sub-wrapper' ) ?>

<?php if($_menu) : ?>

<nav class="hellothemes">
    <ul id="hellothemesNav">
		<?php if (Mage::getStoreConfig('hellothemessettings/navigation/home')): // Show Home link ?>
			<li class="level0 level-top">
				<a href="<?php echo $this->getBaseUrl(); ?>"><span><?php echo $this->__('Home'); ?></span></a>
			</li>
		<?php endif; ?>
		<?php echo $_menu; // Show Custom Navigation ?>
        <?php // Show Clearance Block
        $clearance = Mage::getStoreConfig('hellothemessettings/clearance');
        if ($clearance['activation'] == '1'): ?>
            <li class="level0 level-top">
                <a href="<?php echo $this->getBaseUrl(); ?>clearance"><span><?php echo $this->__('Clearance'); ?></span></a>
            </li>
        <?php endif; ?>
    </ul>
</nav>

<?php endif ?>