<?php

?>
<script type="text/javascript">
</script>

<div class="page-title">
    <h1>Ocurrio un error en el proceso de pago:</h1>
</div>

<p>
    <strong>Detalle:</strong>
    <br>
    <?php
        $error = $this->getData("error");
        echo "<br>" . $error["message"];
    ?>
    <br>
    <br>
    <button type="button" title="Volver al carrito" class="button btn-cart" onclick="setLocation('<?php echo "{$this->getUrl()}checkout/onepage"; ?>')">
        <span><span>Volver</span></span>
    </button>

</p>
