<?php /* @var $this Bl_Nps_Block_Standard_Form_Bcc */ ?>
<?php
    $_code = $this->getMethodCode();
    $banks = $this->getBanks();
    $onChangeBank = 'bankSelectChange(this, this.value)';
    $onChangeCc = 'ccSelectChange(this, this.value)';
    $onChangeFee = 'feeSelectChange(this, this.value)';
?>
<script type="text/javascript">
//<![CDATA[

/*Versión con ompatibilidad IE8 - IE9 - IE10*/
var banksData   = <?php echo $this->getBanksJson(); ?>;
var ccSelect2 = '#<?php echo $_code ?>_cc_id';
var feeSelect2   = '#<?php echo $_code ?>_cc_fee';
var bankSelect2  = '#<?php echo $_code ?>_bank_id';
var promoBanner2 = '#<?php echo $_code ?>_promo_desciption_banner';

function bankSelectChange(obj, val){
    if (val == '') {
        // Reset Credit Cards
        jQuery(ccSelect2).empty().append(
            buildOption({value:'', label:'<?php echo $this->__('')?>'})
        );
        // Reset Payments
        jQuery(feeSelect2).empty().append(
            buildOption({value:'', label:'<?php echo $this->__('')?>'})
        );
    } else {
        // Append Options
        var data = banksData[val]['credit_cards'];
        jQuery(ccSelect2)
            .empty()
            .append(buildOption({value:'', label:'<?php echo $this->__("Seleccionar Tarjeta")?>'}))
            .append(buildSelectOptions(data));
        // Nps Code
    }
}
// Change - Select
function ccSelectChange(obj, val){
    if (val == '') {
        jQuery(feeSelect2).empty().append(
            buildOption({value:'', label:'<?php echo $this->__('')?>'})
        );
    } else {
        // Append Message
        jQuery(feeSelect2).empty().append(
            buildOption({value:'', label:'<?php echo $this->__("Cargando Cuotas...")?>'})
        );
        // Load Ajax
        loadAjax(
            '<?php echo $this->getFeesAjaxUrl(); ?>'
            ,'bank_id=' + jQuery(bankSelect2).val() + '&cc_id=' + val
            ,loadFeesHandler
        );
    }
}
// Change - Select Plan de Cuotas
function feeSelectChange(obj, val){
    if (val != '') {
        var payment = res.data[val];
        hidePromoDescription();
        // Fill Hiddens
        jQuery('#<?php echo $_code ?>_fees_description').val(payment.label);
        if (payment.promo != undefined) {
            jQuery('#<?php echo $_code ?>_promo_id').val(payment.promo.id);
            if(payment.promo.description != '') {
                showPromoDescription(payment.promo.description);
            }
        } else {
            jQuery('#<?php echo $_code ?>_promo_id').val('');
        }
    }
}
function buildOption(obj)
{
    return '<option value="' + obj.value + '">' + obj.label + '</option>\n';
}
function buildSelectOptions(data)
{
    var html = '';
    jQuery.each(data, function(k,v){
        html += buildOption(v);
    });
    return html;
}
function showErrors(error)
{
    alert(error);
}
function showPromoDescription(message)
{
    jQuery(promoBanner2).empty().append(message).fadeIn(1000);
}

function hidePromoDescription()
{
    jQuery(promoBanner2).fadeOut();
}
// Append Data
function loadFeesHandler(response)
{
    res = response;
    var html = '';
    if (response.status == "ok") {
        jQuery.each(response.data, function(k,v) {
            html += buildOption(v);
        });
    } else {
        html = '<?php echo $this->__('- - -')?>';
    }
    // Append Data to Select
    jQuery(feeSelect2)
        .data("options", response.data)
        .empty();
    //@todo Agregar que muestre solo una opcion si es la unica
    jQuery(feeSelect2)
        .append(buildOption({value:'', label:'<?php echo $this->__("Seleccionar Cuotas")?>'}))
        .append(html);
}
jQuery.ajaxSetup({
            xhr: function() {
                    //return new window.XMLHttpRequest();
                    try{
                        if(window.ActiveXObject)
                            return new window.ActiveXObject("Microsoft.XMLHTTP");
                    } catch(e) { }

                    return new window.XMLHttpRequest();
                }
        });
function loadAjax(url, params, sCallback, eCallback)
{
    jQuery.ajax({
        url: url,
        dataType: 'json',
        type: 'POST',
        data: params,
        success: function(response) {
            if (sCallback === 'undefined') {
                // OK..
            } else {
                sCallback(response);
                //ahora12();
            }
            return false;
        },
        error: function(a,b,c,d) {
            if (eCallback === 'undefined') {
                showErrors(a)
            } else {
                eCallback(a,b,c,d);
            }
            return false;
        }
    });
}

function ahora12(){

        // Obtengo el texto de la cuota 7
        var cuota7_text     = jQuery("#nps_cc_fee option[value='7']").text();
        var cuota8_text     = jQuery("#nps_cc_fee option[value='8']").text();

        if (cuota8_text.indexOf('AHORA 18') != -1 ){
            var firstValue = jQuery('#nps_cc_fee option:eq(1)');
            if ( jQuery("#nps_cc_fee option").length > 2 ) {
              jQuery("#nps_cc_fee option[value='8']").insertBefore(firstValue);  
            }   
        }

        if(cuota7_text.indexOf('AHORA 12') != -1 ){
            var firstValue = jQuery('#nps_cc_fee option:eq(1)');
            if ( jQuery("#nps_cc_fee option").length > 2 ) {
              jQuery("#nps_cc_fee option[value='7']").insertBefore(firstValue);  
            }
        }
    }

/*Versión con compaestibilidad IE8 - IE9 - IE10*/
//]]>

    jQuery(document).ready(function() {
        // Ordeno bancos por nombre ascendentemente
        var options = jQuery('select#nps_bank_id option:not(:eq(0))');
        var arr = options.map(function(_, o) { return { t: jQuery(o).text(), v: o.value }; }).get();
        arr.sort(function(o1, o2) { return o1.t > o2.t ? 1 : o1.t < o2.t ? -1 : 0; });
        options.each(function(i, o) {
          o.value = arr[i].v;
          jQuery(o).text(arr[i].t);
        });
    });

</script>

<ul class="form-list" id="payment_form_<?php echo $_code ?>" style="">
<?php if($banks && count($banks) > 0): ?>
    <li>
        <label for="<?php echo $_code ?>_bank_id"><?php echo $this->__('Banco') ?></label>
        <div class="input-box">
            <select id="<?php echo $_code ?>_bank_id" name="payment[nps][bank_id]" class="required-entry" onchange="<?php echo $onChangeBank ?>">
                <option value=""><?php echo $this->__('Seleccionar Banco') ?></option>
                <?php foreach($banks as $bank): ?>
                    <option value="<?php echo $bank['id']?>"><?php echo $bank['name'];?></option>
                <?php endforeach; ?>
            </select>
        </div>
    </li>
    <li>
        <label for="<?php echo $_code ?>_cc_id"><?php echo $this->__('Tarjeta de Crédito') ?></label>
        <div class="input-box">
            <select id="<?php echo $_code ?>_cc_id" name="payment[nps][cc_id]" class="required-entry" onchange="<?php echo $onChangeCc ?>" ></select>
        </div>
    </li>
    <li>
        <label for="<?php echo $_code ?>_cc_fee" ><?php echo $this->__('Plan de Cuotas') ?></label>
        <div class="input-box">
            <select id="<?php echo $_code ?>_cc_fee" name="payment[nps][cc_fee]" class="required-entry" onchange="<?php echo $onChangeFee ?>" ></select>
        </div>
    </li>
    <input type="hidden" id="<?php echo $_code ?>_promo_id" name="payment[nps][promo][id]" value=""/>
    <div id="<?php echo $_code ?>_promo_desciption_banner" class="nps-promo-description-banner"></div>
<?php endif; ?>
</ul>