<?php /* @var $this Bl_Nps_Block_Standard_Form_Cc */ ?>
<?php
    $_code = $this->getMethodCode(); 
    $ccs   = $this->getCreditCards();
?>
<script type="text/javascript">
//<![CDATA[
(function($){
    
    bankSel         = $('#<?php echo $_code ?>_bank_id');
    ccSel           = $('#<?php echo $_code ?>_cc_id');
    feeSelect       = $('#<?php echo $_code ?>_cc_fees');
    feeDescription  = $('#<?php echo $_code ?>_cc_fees_description');
    
    ccSel.change(function(e) {
        if ($(this).val() == '') {
            feeSelect.empty().append(
                buildOption({value:0, label:'<?php echo $this->__('- - -')?>'})
            );
        } else {
            // Append Message
            feeSelect.empty().append(
                buildOption({value:0, label:'<?php echo $this->__("Please Whait...")?>'})
            );
            // Load Ajax
            loadAjax(<?php $this->getBaseUrl() . $this->getAjaxUrl() ?> '/nps/standard_cc/getFees'
                ,'cc_id=' + $(this).val() 
                , appendOptions);
        }
    });

    feeSelect.change(function(e){
        if ($(this).val() != 0) {
            alert ($(this).text());            
        }
    });

    // Append Data
    function appendOptions(response) 
    {
//        alert(response.status);
        var html = '';
        if (response.status == "ok") {
            $.each(response.data, function(k,v){
                html += buildOption(v);
            });
        } else {
            html = '<?php echo $this->__('- - -')?>';
        }
        feeSelect.empty().append(html);
    }

    // Returns Html <option>
    function buildOption(obj)
    {
        return '<option value="' + obj.value + '">' + obj.label + '</option>\n'
    }

    // Show Errors...
    function showErrors(error)
    {
        alert(error);
    }

    // Ajax Loader
    function loadAjax(url, params, sCallback, eCallback)
    {
        $.ajax({
            url: url,
            dataType: 'json',
            type: 'POST',
            data: params,
            success: function(response) {
                if (sCallback === 'undefined') {
                    // OK..
                } else {
                    sCallback(response);
                }
                return false;
            },
            error: function(a,b,c,d) {
                if (eCallback === 'undefined') {
                    alert(a)
                } else {
                    eCallback(a,b,c,d);
                }
                return false;
            }
        });
    }



}(jQuery));
//]]>
</script>

<ul class="form-list" id="payment_form_<?php echo $_code ?>" style="display:none">
<?php if($ccs && count($ccs) > 0): ?>
    <li>
        <label for="<?php echo $_code ?>_cc_id"><?php echo $this->__('Credit Cards') ?></label>
        <div class="input-box">
            <select id="<?php echo $_code ?>_cc_id" name="payment[nps][cc_id]" class="required-entry">
                <option value=""><?php echo $this->__('Select a Credit Card') ?></option>
                <?php foreach($ccs as $cc): ?>
                    <option value="<?php echo $cc['value']?>"><?php echo $cc['label'];?></option>
                <?php endforeach; ?>
            </select>
        </div>
    </li>

    <li>
        <label for="<?php echo $_code ?>_cc_fees" ><?php echo $this->__('Payments') ?></label>
        <div class="input-box">
            <select id="<?php echo $_code ?>_cc_fees" name="payment[nps][cc_fees]" class="required-entry">
                <option value="1">1</option>
            </select>
        </div>
    </li>
    <input type="hidden" id="<?php echo $_code ?>_cc_code" name="payment[nps][cc_code]" value=""/>
    <input type="hidden" id="<?php echo $_code ?>_fees_description" name="payment[nps][cc_fees_description]" value=""/>
<?php endif; ?>
</ul>