<?php /* @var $this Bl_Nps_Block_Standard_Form  */ ?>

<?php $_code = $this->getMethodCode(); ?>
<script type="text/javascript">
<?php //@todo Migrar a prototype ?>

function loadBanks()
{
    var _data = _buildOptions(_banksData.banks);
    _selectBanks.empty().append( _data );
    return true;
}

function loadCreditCards()
{
    var bank_id = _selectBanks.val();
    if ( bank_id != undefined && bank_id != 0 ) {
        var _data = _buildOptions(_banksData.credit_cards[bank_id]);
        _selectCreditCards.empty().append( _data );
    } else {
        _selectCreditCards.empty().append( null );
        _selectPayments.empty().append( null );
    }
    return true;
}

function loadPayments()
{
    var bank_id = _selectBanks.val();
    var cc_id   = _selectCreditCards.val();

    _showPromoDescription(false, "");

    if ( bank_id != undefined && bank_id != 0 
         && cc_id != undefined && cc_id != 0) {
                  
        // Asigno el valor de cc_code a su <input>
        cc_code = _banksData.credit_cards[bank_id][cc_id]["code"];
        if (cc_code != undefined) {
            _inputCcCode.val(cc_code);
        }
        
        // Traigo los Payments
        jQuery.ajax({
            type: "POST",
            url: "<?php echo @$url;?>/nps/standard/getpayments/",
            cache: false,
            data:  "bank_id=" + bank_id + "&cc_id=" + cc_id,
            dataType: 'json'
            ,beforeSend: function() {
                _selectPayments.empty().append("<option value='0'><?php echo $this->__('--Wait--') ?></option>");
                _showPromoError(false);
            }
            ,success: function(response) {

                if (response.status != undefined &&  response.content != undefined) {
                    
                    if (response.status != "error") {
                        var _data = _buildOptions(  response.content );
                        _selectPayments.empty().append(_data);
                        // Hacemos un append de la data en payments para levanar el codigo de promo
                        _paymentsData    = response.content;
                        _descriptionData = response.description;
                    }
                    // Mensaje de conflicto con promociones
                    if (response.status == "notice") {
                        _showPromoError(true);
                    }

                } else {
                    _showErrors("Ocurrio un error cargando los planes de cuotas.");
                }

            }
            ,error: function(error) {
                _showErrors("Ocurrio un error cargando los planes de cuotas.");
            }

        });

    } else {
        _selectPayments.empty().append( null );
    }        
    return true;
}

function loadPromoCode()
{
    _showPromoDescription(false, "");
    var payment_id = _selectPayments.val();
    if (payment_id != undefined && payment_id != "") {
        var promo_code =  _paymentsData[payment_id].promo_code;
        if (promo_code != undefined) {
            _inputPromoCode.val(promo_code);
            _showPromoDescription(true, _descriptionData[promo_code]);
        }
    } else {
       _inputPromoCode.val("");
       _showPromoDescription(false, "");
    }
    return true;
 }

function _buildOptions(data)
{
    var options = '<option value=""><?php echo $this->__('--Please Select--')?></option>\n';
    if (data != null && data != undefined) {
        jQuery.each(data, function(i, values) {
           options += '<option value="' + values.id + '">' + values.name + '</option>\n';
        });
    }
    return options;
}

function _showErrors(message)
{
    alert(message);
}

function _showPromoError(show)
{
    if (show) {
        _promoErrorMsg.fadeIn();
    } else {
        _promoErrorMsg.fadeOut();
    }
}

function _showPromoDescription(show, description)
{
    if (show) {
        _promoDescriptionMsg.children("p").empty().append(description);
        _promoDescriptionMsg.fadeIn();
        
    } else {
        _promoDescriptionMsg.fadeOut();
    }
}



// (Just Like)Starting Over
jQuery(document).ready( function() {

    // jQuery DOM Objects
    // Form Objects
    _selectBanks       = jQuery("#<?php echo $_code ?>_bank_id");
    _selectCreditCards = jQuery("#<?php echo $_code ?>_cc_id");
    _inputCcCode       = jQuery("#<?php echo $_code ?>_cc_code");
    _selectPayments    = jQuery("#<?php echo $_code ?>_cc_payments");
    _inputPromoCode    = jQuery("#<?php echo $_code ?>_promo_code");
    // Other Objects
    _promoErrorMsg        = jQuery("#<?php echo $_code ?>_promo_error_message");
    _promoDescriptionMsg  = jQuery("#<?php echo $_code ?>_promo_description");
    // Banks Data
    _banksData         = <?php echo $this->getBanksData(); ?>;
    _paymentsData      = undefined;
    _descriptionData   = undefined;

    // Cargo el Select de Bancos
    loadBanks();

    // Events Binding
    _selectBanks.change(
        function(event) {
            loadCreditCards(event);
            event.stopImmediatePropagation(); // Hack para Evitar el Doble llamado
        }
    );
    _selectCreditCards.change(
        function(event) {
            loadPayments(event);
            event.stopImmediatePropagation(); // Hack para Evitar el Doble llamado
        }
    );
    _selectPayments.change(
        function(event) {
            loadPromoCode(event);
            event.stopImmediatePropagation(); // Hack para Evitar el Doble llamado
        }
    );

});
</script>
<fieldset class="form-list">
    <?php $_code = $this->getMethodCode() ?>
    <ul id="payment_form_<?php echo $_code ?>" style="display:none">

        <li>
            <label for="<?php echo $_code ?>_bank_id"><?php echo $this->__('Bank') ?></label>
            <div class="input-box">
                <select id="<?php echo $_code ?>_bank_id" name="payment[nps_bank_id]" class="required-entry">
                </select>
            </div>
        </li>

        <li>
            <label for="<?php echo $_code ?>_cc_id"><?php echo $this->__('Credit Cards') ?></label>
            <div class="input-box">
                <select id="<?php echo $_code ?>_cc_id" name="payment[nps_cc_id]" class="required-entry">
                    <option value=""></option>
                </select>
            </div>
        </li>

        <li id="<?php echo $_code ?>_promo_error_message" style="display:none;">
            <p style="color: #FFF; background-color: #D71A21; padding: 5px; margin: 2px; ">
                Hay una promoción vigente sólo para alguno/s de los artículos de su carrito de compras.<br />
                Para que la misma pueda ser aplicada, elimine del carrito aquellos artículos que no estén en promoción.<br />
                Puede consultar las promociones vigentes <a herf="<?php echo @$url;?>/promocionesvigentes">aqui</a> o Regresar al <a herf="<?php echo @$url;?>/checkout/cart/">carrito de compras.</a>
            </p>
        </li>

        <li id="<?php echo $_code ?>_promo_description" style="display:none;">
            <p style="color: #FFF; background-color: #009900; padding: 5px; margin: 2px; "></p>
        </li>

        <li>
            <label for="<?php echo $_code ?>_cc_payments" ><?php echo $this->__('Payments') ?></label>
            <div class="input-box">
                <select id="<?php echo $_code ?>_cc_payments" name="payment[nps_cc_payments]" class="required-entry">
                    <option value=""></option>
                </select>
            </div>
        </li>
        <br>
        <input type="hidden" id="<?php echo $_code ?>_promo_code" name="payment[nps_promo_code]" value=""/>
        <input type="hidden" id="<?php echo $_code ?>_cc_code" name="payment[nps_cc_code]" value=""/>
    </ul>
</fieldset>