<?php
/*
 * @autor W3ITSolutions
 */
/* @var $this Bl_Crudbcc_Block_Adminhtml_Bancos_Edit_Tab_Tarjeta_Tier */
?>
<?php $_htmlId      = $this->getElement()->getHtmlId() ?>
<?php $_htmlClass   = $this->getElement()->getClass() ?>
<?php $_htmlName    = $this->getElement()->getName() ?>
<?php $values = (!is_array($this->getValues()))?array():$this->getValues();?>
<tr>
    <td class="label"><?php echo $this->getElement()->getLabel() ?></td>
    <td colspan="10" class="grid tier">
    <table cellspacing="0" class="data border" id="tiers_table">
        <col width="200" />
        <col width="200" />
        <col width="200" />
        <col width="200" />
        <col width="200" />
        <col width="200" />
        <col width="200" />
        <col width="1" />
        <thead>
            <tr class="headings">
                <th><?php echo Mage::helper('crudbcc')->__('Número de cuota') ?></th>
                <th><?php echo Mage::helper('crudbcc')->__('Coeficiente') ?></th>
                <th><?php echo Mage::helper('crudbcc')->__('CFT') ?></th>
                <th><?php echo Mage::helper('crudbcc')->__('TEA') ?></th>
                <th><?php echo Mage::helper('crudbcc')->__('TNA') ?></th>
                <th><?php echo Mage::helper('crudbcc')->__('TEM') ?></th>
                <th><?php echo Mage::helper('promopsp')->__('Mostar sin Interés') ?></th>
                <th class="last"><?php echo Mage::helper('crudbcc')->__('Action') ?></th>
            </tr>
        </thead>
        <tbody id="<?php echo $_htmlId ?>_container"></tbody> <!-- @todo id check javascript -->
        <tfoot>
            <tr>
                <td></td>
                <td colspan="8" class="a-right"><?php echo $this->getAddButtonHtml() ?></td>
            </tr>
        </tfoot>
    </table>

<script type="text/javascript">
//<![CDATA[
var tierCuotasRowTemplate = '<tr>'
    + '<td><input class="<?php echo $_htmlClass ?> validate-digits validate-greater-than-zero" type="text" name="<?php echo $_htmlName ?>[{{index}}][n_cuota]" value="{{n_cuota}}" id="tier_cuotas_row_{{index}}_ncuota" /></td>'
    + '<td><input class="<?php echo $_htmlClass ?> validate-greater-than-zero" type="text" name="<?php echo $_htmlName ?>[{{index}}][coeficiente]" value="{{coeficiente}}" id="tier_cuotas_row_{{index}}_coeficiente" /></td>'
    + '<td><input class="<?php echo $_htmlClass ?>" type="text" name="<?php echo $_htmlName ?>[{{index}}][cft]" value="{{cft}}" id="tier_cuotas_row_{{index}}_cft" /></td>'
    + '<td><input class="<?php echo $_htmlClass ?>" type="text" name="<?php echo $_htmlName ?>[{{index}}][tea]" value="{{tea}}" id="tier_cuotas_row_{{index}}_tea" /></td>'
    + '<td><input class="<?php echo $_htmlClass ?> validate-greater-than-zero" type="text" name="<?php echo $_htmlName ?>[{{index}}][tna]" value="{{tna}}" id="tier_cuotas_row_{{index}}_tna" /></td>'
    + '<td><input class="<?php echo $_htmlClass ?> validate-greater-than-zero" type="text" name="<?php echo $_htmlName ?>[{{index}}][tem]" value="{{tem}}" id="tier_cuotas_row_{{index}}_tem" /></td>'
    + '<td><input class="input-text" type="checkbox" name="<?php echo $_htmlName ?>[{{index}}][sin_interes]" id="tier_cuotas_row_{{index}}_sin_interes" value="1" /></td>'
    + '<td class="last"><input type="hidden" name="<?php echo $_htmlName ?>[{{index}}][delete]" class="delete" value="" id="tier_cuotas_row_{{index}}_delete" />'
    + '<button title="<?php echo Mage::helper("crudbcc")->__("Borrar Cuota") ?>" type="button" class="scalable delete icon-btn delete-product-option" id="tier_cuotas_row_{{index}}_delete_button" onclick="return tierCuotasControl.deleteItem(event);">'
    + '<span><?php echo Mage::helper("crudbcc")->__("Borrar") ?></span></button></td>'
    + '</tr>';

var tierCuotasControl = {
    template: new Template(tierCuotasRowTemplate, new RegExp('(^|.|\\r|\\n)({{\\s*(\\w+)\\s*}})', "")),
    itemsCount: 0,
    addItem : function () {
        var data = {
            n_cuota: '1', //@todo cuota autoincrement
            coeficiente: '0',
            cft: '0',
            tea: '0',
            tna: '0',
            tem: '0',
            readOnly: false,
            index: this.itemsCount++
        };

        if(arguments.length >= 7) {
            data.n_cuota        = arguments[0];
            data.coeficiente    = arguments[1];
            data.cft            = arguments[2];
            data.tea            = arguments[3];
            data.tna            = arguments[4];
            data.tem            = arguments[5];
            data.sin_interes    = arguments[6];
        }
        if (arguments.length == 8) {
            data.readOnly = arguments[7];
        }

        Element.insert($('<?php echo $_htmlId ?>_container'), {
            bottom : this.template.evaluate(data)
        });

        if(data.sin_interes == 1){
            $('tier_cuotas_row_' + data.index + '_sin_interes').setAttribute('checked', true);    
        }
        
    },
    disableElement: function(el) {
        el.disabled = true;
        el.addClassName('disabled');
    },
    deleteItem: function(event) {
        var tr = Event.findElement(event, 'tr');
        if (tr) {
            Element.select(tr, '.delete').each(function(elem){elem.value='1'});
            Element.select(tr, ['input', 'select']).each(function(elem){elem.hide()});
            Element.hide(tr);
            Element.addClassName(tr, 'no-display template');
        }
        return false;
    }
};
<?php foreach ($values as $_item): ?>
    tierCuotasControl.addItem('<?php echo $_item['n_cuota']?>', '<?php echo $_item['coeficiente'] ?>', '<?php echo sprintf('%.2f', $_item['cft']) ?>', '<?php echo sprintf('%.2f', $_item['tea']) ?>', '<?php echo sprintf('%.2f', $_item['tna']*1) ?>', '<?php echo sprintf('%.2f', $_item['tem']) ?>', '<?php echo $_item['sin_interes']?>');
<?php endforeach; ?>
//]]>
</script>
</td></tr>
