a, #nav li ul li a{
    transition: color 600ms ease-in-out;
    -webkit-transition: color 600ms ease-in-out;
    -moz-transition: color 600ms ease-in-out;
    -o-transition: color 600ms ease-in-out;
    -ms-transition: color 600ms ease-in-out;
}
a:hover {
    transition: color 10ms ease-in-out;
    -webkit-transition: color 10ms ease-in-out;
    -moz-transition: color 10ms ease-in-out;
    -o-transition: color 10ms ease-in-out;
    -ms-transition: color 10ms ease-in-out;
}

.products-grid .item .details {transform: translateY(0px);  transition: all 0.2s linear 0s;}
.products-grid .item.over .details, .products-grid .item.no-shadow .details{transform: translateY(-64px); -ms-transform:translateY(-64px); /* IE */ -webkit-transform:translateY(-64px); /* Safari and Chrome */-o-transform:translateY(-64px); /* Opera */}
.slider-container .products-grid .item.over .details {transform: translateY(0px) !important; -ms-transform:translateY(0px) !important; /* IE */ -webkit-transform:translateY(0px) !important; /* Safari and Chrome */-o-transform:translateY(0px) !important; /* Opera */}

/*.box-up-sell .products-grid .item.over .details, .box-up-sell .products-grid .item.no-shadow .details{transform: translateY(0px); -ms-transform:translateY(0px); /* IE */ -webkit-transform:translateY(0px) !; /* Safari and Chrome */-o-transform:translateY(0px); /* Opera */}*/

.catalog-image, .product-actions, .add-to-links li a,
.slider-container .jcarousel-list .btn-cart,
.jcarousel-next-horizontal, .jcarousel-prev-horizontal,
#toTop,
.banners a span,
.banners a em,
.banner a span,
.banner a em,
.products-grid .btn-cart,
.products-list .btn-cart,
.opc .step-title,
/*.product-tabs a,*/
.footer-banners a img, .homepage-banners a img,
footer .footer-subscribe button.button span, .social-links a /*, .ui-tabs .ui-tabs-nav li a, .ui-tabs .ui-tabs-nav li a:hover,
.ui-tabs .ui-tabs-nav li a:before*/ {
transition: all 400ms ease-in-out;
-webkit-transition: all 400ms ease-in-out;
-moz-transition: all 400ms ease-in-out;
-o-transition: all 400ms ease-in-out;
-ms-transition: all 400ms ease-in-out;
}
.jcarousel-next-horizontal:hover, .jcarousel-prev-horizontal:hover, .catalog-image .quick-view, .catalog-image .quick-view span, .cart-top-container span.open, #fancybox-close, #send2, .btn-edit2, .btn-remove2, .sticker-top-right:hover , .sticker{
transition: all 400ms ease-in-out;
-webkit-transition: all 400ms ease-in-out;
-moz-transition: all 400ms ease-in-out;
-o-transition: all 400ms ease-in-out;
-ms-transition: all 400ms ease-in-out;
}

.footer-info .block-control {
    transition: background-color 400ms ease-in-out;
    -webkit-transition: background-color 400ms ease-in-out;
    -moz-transition: background-color 400ms ease-in-out;
    -o-transition: background-color 400ms ease-in-out;
    -ms-transition: background-color 400ms ease-in-out;
}

button.button,
.products-list .button-container .btn-add-cart span,
.pager .pages li a.next span,
.pager .pages li a.previous span,
.slideshow-nav a,
.header-dropdown ul li a,
.currency-switch .ulSelect2 li a,
.cart-top-container .details .cart-top-title a span.icon,
.search-top-container .search-form .search-top-title span.icon,
.footer-info ul.social li a,
.footer-info ul.twitterList li span.tweet-icon,
.search-top, .cart-top > a,
.product-view .add-to-links li span.icon,
.top-opc li.allow .number,
.btn-remove, .btn-edit, .products-grid .hover .button-container button.button span span em{
transition: background 200ms ease-in-out;
-webkit-transition: background 200ms ease-in-out;
-moz-transition: background 200ms ease-in-out;
-o-transition: background 200ms ease-in-out;
-ms-transition: background 200ms ease-in-out;
}

#hellothemesNav>li,
#hellothemesNav ul li{
    transition: background 300ms ease-in-out;
    -webkit-transition: background 300ms ease-in-out;
    -moz-transition: background 300ms ease-in-out;
    -o-transition: background 300ms ease-in-out;
    -ms-transition: background 300ms ease-in-out;
}
#hellothemesNav>li>a:hover,
#hellothemesNav ul li a:hover, .footer-info ul li a:hover, #left-nav li ul li a:hover, #left-nav li:hover, #left-nav li, .block-layered-nav .block-content dd li:hover{
    transition: background 100ms ease-in-out;
    -webkit-transition: background 100ms ease-in-out;
    -moz-transition: background 100ms ease-in-out;
    -o-transition: background 100ms ease-in-out;
    -ms-transition: background 100ms ease-in-out;
}

.products-grid .add-to-links li a:hover span {
    color:#000;
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.products-grid .add-to-links li a span {
    transition: all 400ms ease-in-out;
    -webkit-transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
    -ms-transition: all 400ms ease-in-out;
}