/** Framework Settings **/
#row_hellothemessettings_appearance_hover_icon {display:none;}
#row_hellothemessettings_appearance_button_color {display:none;}
#row_hellothemessettings_navigation_enable_custom_block {display:none;}
#row_hellothemessettings_navigation_submenu_color {display:none;}
#row_hellothemessettings_navigation_submenu_link_color {display:none;}
#row_hellothemessettings_navigation_submenu_item_bg{display:none;}
#row_hellothemessettings_navigation_submenu_item{display:none;}
#row_hellothemessettings_footer_social_bg_hover{display:none;}
#hellothemessettings_menumobile-head, #hellothemessettings_menumobile{display:none;}
#row_hellothemessettings_products_price_hover_color{display:none;}
#row_hellothemessettings_products_price_circle_bg{display:none;}
#row_hellothemessettings_products_hover_circle_bg{display:none;}
#row_hellothemessettings_products_list_view_color{display:none;}
#row_hellothemessettings_products_tabs_bg{display:none;}
#row_hellothemessettings_products_tabs_color{display:none;}