.ajax-index-options {}
body.ajax-index-options {border:0;}
/*.ajax-index-options .product-view .product-shop { float: none; overflow: hidden; margin: 0;}*/
.ajax-index-options .product-view .product-img-box {float:left; margin:0 25px 0 0;}

/*.ajax-index-options {}
body.ajax-index-options {border:0;}
.ajax-index-options .product-view .product-shop {     
	float: left !important;
    margin: 0 !important;
    overflow: hidden !important;
    width: 100% !important;
}
.ajax-index-options .product-view .product-img-box {    
	float: left !important;
    margin: 0 30px 0 0 !important;
    width: 100% !important;
}
.ajax-index-options  .product-view .product-shop .price-box-bundle .price-box p {
    display: block;
    float: left;
    width: 245px;
}
.ajax-index-options .product-view .product-shop .price-box .price-label {
    display: inline;
}
.ajax-index-options .price-from .price-label{text-transform:capitalize;}
.ajax-index-options .price-to .price-label{text-transform:capitalize;}*/