/***** Standard 960px *****/

@media (min-width: 1300px) {

/*.slideshow img {width:770px !important;height:402px !important;}*/
  .row {
    *zoom: 1;
  }
  .row:before, .row:after {
    display: table;
    content: "";
  }
  .row:after {
    clear: both;
  }
  .featured-products li {
	 float:left;
	 margin-left:30px; 
  }
  [class*="span"] {
    float: left;
    margin-left: 30px;
  }
   .boxed .product-shop {
	 width: 488px;
  }
  .boxed .product-img-box {
	 width: 298px;
	 
  }
   .featured-products li {
	width: 204px;  
  }
  .span1 {
    width: 70px;
  }
  .span2 {
    width: 164px;
  }
  .span25 {
	width: 210px;  
  }
  .span4 {
    width: 370px;
  }
   .span44 {
    width: 318px;
  }
  .span5 {
    width: 470px;
  }
  .span6 {
    width: 485px;
  }
  .span7 {
    width: 570px;
  }
  .span8 {
    width: 738px;
  }
  .header-container .span8 {
    width: 668px;
  }
  .span9 {
    width: 870px;
  }
  .span10 {
    width: 970px;
  }
  .span11 {
    width: 1070px;
  }
  .span12, .container,.page {
    /*width: 1200px;*/
  }
  .offset1 {
    margin-left: 130px;
  }
  .offset2 {
    margin-left: 230px;
  }
  .offset3 {
    margin-left: 330px;
  }
  .offset4 {
    margin-left: 430px;
  }
  .offset5 {
    margin-left: 530px;
  }
  .offset6 {
    margin-left: 630px;
  }
  .offset7 {
    margin-left: 730px;
  }
  .offset8 {
    margin-left: 830px;
  }
  .offset9 {
    margin-left: 930px;
  }
  .offset10 {
    margin-left: 1030px;
  }
  .offset11 {
    margin-left: 1130px;
  }
  .row-fluid {
    width: 100%;
    margin-top: 20px;
    *zoom: 1;
  }
  .slider-container   .row-fluid {
    width:1140px;
    *zoom: 1;
  }
  .row-fluid:before, .row-fluid:after {
    display: table;
    content: "";
  }
  .row-fluid:after {
    clear: both;
  }
  .row-fluid > [class*="span"] {
    float: left;
    margin-left: 2.564102564%;
  }
  .row-fluid > [class*="span"]:first-child {
    margin-left: 0;
  }
  .row-fluid > .span1 {
    width: 5.982905983%;
  }
  .row-fluid > .span2 {
    width: 14.529914530000001%;
  }
  .row-fluid > .span25 {
	 width:18.785%;
  }
  .row-fluid > .span3 {
    width: 31.596923077%;
  }
  .row-fluid > .span4 {
    width: 22%;
  }
  .row-fluid > .span5 {
    width: 40.170940171000005%;
  }
  .row-fluid > .span6 {
    width: 48.717948718%;
  }
  .row-fluid > .span7 {
    width: 57.264957265%;
  }
  .row-fluid > .span8 {
    width: 65.81196581200001%;
  }
  .row-fluid > .span9 {
    width: 74.358974359%;
  }
  .row-fluid > .span10 {
    width: 82.905982906%;
  }
  .row-fluid > .span11 {
    width: 91.45299145300001%;
  }
  .row-fluid > .span12 {
    width: 100%;
  }
  input.span1, textarea.span1, .uneditable-input.span1 {
    width: 60px;
  }
  input.span2, textarea.span2, .uneditable-input.span2 {
    width: 160px;
  }
  input.span3, textarea.span3, .uneditable-input.span3 {
    width: 260px;
  }
  input.span4, textarea.span4, .uneditable-input.span4 {
    width: 360px;
  }
  input.span5, textarea.span5, .uneditable-input.span5 {
    width: 460px;
  }
  input.span6, textarea.span6, .uneditable-input.span6 {
    width: 560px;
  }
  input.span7, textarea.span7, .uneditable-input.span7 {
    width: 660px;
  }
  input.span8, textarea.span8, .uneditable-input.span8 {
    width: 760px;
  }
  input.span9, textarea.span9, .uneditable-input.span9 {
    width: 860px;
  }
  input.span10, textarea.span10, .uneditable-input.span10 {
    width: 960px;
  }
  input.span11, textarea.span11, .uneditable-input.span11 {
    width: 1060px;
  }
  input.span12, textarea.span12, .uneditable-input.span12 {
    width: 1160px;
  }
  .thumbnails {
    margin-left: -30px;
  }
  .thumbnails > li {
    margin-left: 30px;
  }
  


  .cms-index-index #tabs .products-grid li.item {
height: 430px !important;
width: 270px;
margin: 5px;
border: 1px solid #eee;
}
.flex-control-nav {
width: 40% !important;
}



}






@media only screen and (min-width:1020px) and (max-width:1300px) {
	/*body {background:#ccc;}*/
  #tabs .bloque-last {width: 33.3%;}
	.cart-collaterals .grid_4 { width: 315px !important;}
	/*.products-grid .btn-cart, .products-list .btn-cart, .category-products .item .out-of-stock, button.button.btn-cart { display: block; float: right; font-size: 10px; padding: 0 5px;}	*/
	.footer-subscribe .validation-advice { right: 20px;}
    .top-opc {width:745px;}	
	.opc {width:100%;}
	.catalog-category-view .products-grid ,	.catalogsearch-result-index .products-grid, .cms-page-view .products-grid{width: 740px !important;}
	.checkout-cart-index .slider-container{display:block;}	
	.information{width:565px;}
	.information .item{width:560px;}
	.products-grid .btn-cart, .products-list .btn-cart, .category-products .item .out-of-stock, button.button.btn-cart {  color: #FFFFFF; float: right; font-size: 12px; height: 42px; padding: 0 4px;}	
	.opc .form-list li.wide input.input-text { width: 678px;}
	.opc .form-list input.input-text { width: 330px;}
	.form-list select { width: 341px;}
	.customer-address-form .form-list select { width: 267px;}
	.product-block {  float: left;  margin-top: 15px;  width: 968px;	}
	#upsell-product-table .minimal-price-link{float:left;}
	#wishlist-table .btn-cart i {  background-position: -229px 4px;  width: 70px;}
	.addthis { width: 39%;}
	#product-review-table{width:100%;}
	#review-form .form-list { float: left; width: 100%;}
	#review-form .form-list input.input-text, #review-form .form-list textarea { width: 535px;}
	#review-form .buttons-set { float: left;}
	.block-compare .block-content .actions a {float:right;}
	.block-viewed .block-content li a img{width:50px !important;}
	.span7 { width: 50%;}	
	#hellothemesNav ul li ol li {width:145px;}
	.row {width: 1000px;}
	.span33 { width: 225px;}
	#tabs .ui-tabs-panel {width: 996px;}
	#tabs .ui-tabs-nav {width: 100%;}
	.flexslider .slides .contenedor strong {height: 115px; overflow: hidden;}
	.col1-layout .product-view .product-shop{width:450px;}
	.add-to-links li a {width:40px;}
	.block-subscribe input {width:160px;}
	.footer-subscribe label, .footer-social label {padding: 0 15px 0 20px;}
	.row-fluid > .span3 {width: 31.9%; margin-top: 20px; }
	.row-fluid > .span4 {width: 22.815%;}
	.product-actions  .more_view {background-size:; width:40px; height:40px; }
	.product-actions .quick-view {width:40px; height:40px; background-size: 30px 30px;} 
	.img-right-slide {display:none;}
    .homepage-banners a .content{margin:18px;}
    .col1-layout .products-grid { width:900px; margin:0;}
    .home-right {margin-right:30px;}
    .home-main {width:600px;}
    .col1-layout .home-main .products-grid {width:600px;}
    .home-main .category-products {margin-left:30px;}
    .flexslider .slides .content{max-width:760px;}
    .product-view .product-additional {display:none }
    .product-view .box-up-sell2 {display:block; margin-left:0; }
    .main .slider-container {width:900px; margin-left:0px }
    .main .slider-container h3 {width:600px; }
    .jcarousel-skin-tango .jcarousel-clip-horizontal,
    .jcarousel-skin-tango .jcarousel-container-horizontal {width:900px;}
    .col-main-left, .col-main-right { width:600px; padding:30px 0 0; margin:0; min-height:400px; }
	.col-main {width:740px;}	
	.col-right, .col-left {width: 220px;}
	.product-view .product-shop {padding-right:0; width:360px;}
    .toolbar { margin: 18px 0px 0 0; }
    .cart .cart-collaterals .grid_4{margin:0 2px 0 16px;}
    .homepage-banners {width:900px !important;}
    .homepage-banners .grid_6{width:420px !important; margin:0 15px;}
    .products-list {margin: 0 30px 0 0; }
    .products-list .add-to-links {float:none; clear:both;}
    .products-list .price-box {float:none}
    .products-list .ratings {float:none; margin:5px 0;}
    .products-list .add-to-links li:first-child span {display:none}
    .top-opc li{float:left; width:150px; margin: 0 10px 30px 0;}
	#store-content ul li { width: 16%;}
	.hover-store{ line-height: 240px; font-size: 25px;}
    #checkout-step-login input.input-text {width: 248px;}
    .flex-viewport{}
    .new-users button.button {margin-top: 10px;}

    .contenttext p {
min-height: 160px;
}
.flex-control-paging li a.flex-active {
background: #A8A8A8;
cursor: default;
}
 .catalog-category-view .flex-control-nav {
width: 100% !important;
}
.flex-control-nav li {
float: right;
}
.top-opc {
width: 745px;
margin-top: 20px;
}
.f-left {
float: right !important;
}
.checkout-onepage-index .buttons-set button.button {
margin-left: 0px;
}
.pager .pages li {
width: 20px;
}
.customer-account-index .col-main {
margin-top: 33px;
}
.cms-index-index .flex-control-nav {
width: 28% !important;
}
.products-grid .btn-cart {
width: 96%;
}
.catalogsearch-result-index .products-grid li.item {
height: 450px !important;
}
.button.btn-cart i{
background-position: -246px 4px !important; 
}
button.button.btn-cart span {
margin-right: 11px;
}

}

@media only screen and (min-width: 640px) and (max-width: 767px) {
.flexslider .slides .description{width: 30%;}
.flexslider .slides .contenedor strong { font-size: 16px !important; line-height: 15px !important;}
.flexslider .slides .contenedor p {  font-size: 8px;}
.flexslider .slides .contenedor button{display:none;}
}




/***** iPad Smaller than 959px *****/
@media only screen and (min-width: 767px) and (max-width: 1020px) {
	/*body {background:#fff000;}*/
    .navmobile{ display: block; float: left;  width: 100%; margin-top:20px;}
    #hellothemesNav, #nav{display:none; }
  #institucional .span4 {display:none;} 
	#left-nav li a {padding: 5px 0; color:#fff;}
	#left-nav li span.arrow{ background-image: url("../images/arrow_menu.png");  background-position: 25% 100%; background-repeat: no-repeat;height:25px;padding:0;position:absolute;right:0;top:8px;width:32px;z-index:0}
	#left-nav li.active span.arrow, #left-nav li.openn span.arrow { background-image: url("../images/arrow_menu.png");  background-position: 25% 100%;  color: #FFFFFF;}
	#left-nav ul.subcategory {background: none repeat scroll 0 0 #FAF7F7;}
	#left-nav li.active a, #left-nav li.openn a {text-shadow:none; color:#ffffff;}
	#left-nav .category.over,#left-nav .cate.over, #left-nav li.active, #left-nav li.openn{background:none}
    #navigation_select{display:block; width:240px; min-width:240px; height:auto; margin:0 auto;}
	nav.hellothemes{display:none; }
	.catalog-category-view .products-grid ,	.catalogsearch-result-index .products-grid {width: 750px !important;}
	.footer-subscribe .validation-advice { position: absolute; right: 0; top: 123px;}
	#wishlist-table tbody td:nth-child(3), #wishlist-table th:nth-child(3){  display:none !important;}
	.checkout-cart-index .slider-container{display:block;}	
	.data-table .btn-remove2{float:left;}
	.footer-top .span7 { height: 84px !important;}
	.opc .form-list li.wide input.input-text {width: 696px;}
	.header-switch span.current {}
	.cms-page-view .products-grid{width:750px;}
	.header-switch {line-height: 14px;}
	.products-grid .item.over .details, .products-grid .item.no-shadow .details{transform: translateY(0px) !important; -ms-transform:translateY(0px) !important; /* IE */ -webkit-transform:translateY(0px) !important; /* Safari and Chrome */-o-transform:translateY(0px) !important; /* Opera */}
    #checkout-step-login .block-checkout-register, #checkout-step-login .block-checkout-login { width: 100%;  margin: 20px auto 0 !important; float: none;}
	.opc .form-list .field { width: 100%;}
	.opc .form-list input.input-text { width: 696px;}
	.form-list select { width: 708px;}
	.customer-address-form .form-list select { width: 267px;}
	/*.sorter .limiter{float:right;}*/
	.product-block {  float: left; margin-top: 15px; width: 740px;}
	#upsell-product-table .minimal-price-link{float:left;}
  .box-up-sell #upsell-product-table .item{
    margin:0 20px 30px 0 !important;
  }
	.customer-account-create .fieldset { float: left; width: 50%; padding:0;}
	.customer-account-create .buttons-set { margin:0;}
	.customer-account-create .col1-layout .col-main, .customer-account-create .account-create {  margin: 0;  width: 100%;}
	#wishlist-table .btn-cart i{background-position: -232px 4px;width: 62px;}
	.box-up-sell .catalog-image .quick-view span{top:45px;}
	.span7 { width: 50%;}
	.hover-store {  font-size: 16px; line-height: 145px;}
	#setting-content ul li { width: 44%;}
	.flexslider .slides > li { height: 317px !important;}
	.flexslider .slides .contenedor strong {height: 66px; display:block; overflow: hidden;font-size: 24px;}	
	.btn-remove, .btn-edit {  display: inline;}
	.products-list .product-actions .btn-cart{ width: 24%; margin:0;}
	.customer-account-login .account-login, .customer-account-forgotpassword .account-login, .customer-account-create .account-create { float: none;}
	.col-main {width:750px;}
    .row { margin:0 auto; width:750px; }
	.spancat {width: 220px;}
    .span33 { width: 230px;height: 539px;}
	#tabs .ui-tabs-panel {width: 99.4%;}
	#tabs .ui-tabs-nav {  height: auto; }
	.row-fluid > .span4 {width: 22.815%;}
	.row-fluid > .span3 {width: 31.9%;margin-top: 16px;} 
  .row-fluid > .span6 {margin-top: 16px;} 
	.row-fluid > .span8 {width: 100%;}
	.footer-container .span6:first-child { float: none; margin-left: 0; text-align: center; width: 100%;}
	.footer-top .span7 {height:auto;}
	.block-subscribe input {margin-left:24px;}
	.footer-container .copyright .payment-options {float: none;margin: 20px 0 0;padding: 0;text-align: center;width: auto;}
	.products-grid .btn-cart, .products-list .btn-cart, .category-products .item .out-of-stock, button.button.btn-cart { display: block; float: right; font-size: 15px; padding: 0 5px;}
	.product-actions{opacity:1; float:inherit;}
	#search {width:170px;}
	.add-to-links {text-align:center;}
	.add-to-links li {display: inline-block; float: left;}
	.img-right-slide {display:none;}
	.footer-subscribe .input-box { width: 85%;}
    .product-actions  .more_view {background-size:; width:40px; height:40px; left:-4%; }
	.product-actions .quick-view {width:40px; height:40px; background-size: 30px 30px; right:-4%;} 
	#fancybox-frame .product-img-box {display:none;}
    nav .nav-top-title, .nav-container .nav-top-title{display:block; }
	.cart-collaterals.row {margin:0 auto; width:100%;}
    .cart .cart-collaterals .grid_4{width:600px; margin:0 auto 24px; float:none;}
    .col-right {display:none;}
    .checkout-onepage-index .col-right {padding:20px 0 0; float:none; margin:0 0 0 84px; }
    .checkout-onepage-index .col-right .block { float:none; margin:0 auto 30px; width:378px; }
    .home-main .category-products {margin:0 0 30px 0;}
    .home-main, .home-right {float:none}
    .home-right {width:600px; margin:0 auto;}
    .home-main, .col1-layout .home-main .products-grid {width:600px;}
    .flexslider .slides .content{max-width:560px;}
    .flexslider .slides .content strong{font-size:48px; line-height:40px; }
    .site-block, .mousetrap, #cloud-big-zoom {display:none; }
    #shopping-cart-totals-table strong {font-size:18px; padding:0 10px 0 0;}
    .data-table tfoot td { text-align:right !important;}
    .data-table th { display:none;}
    .data-table td {padding:10px;}
    .data-table td.td-name h2 {font-size:20px; font-weight:300; }
    .data-table td.td-image a {text-align:center; }
    .data-table td.td-image img {width:100px;}
    .data-table .td-actions .btn-remove, .data-table .td-actions .btn-edit {display:inline-block;}
    .data-table td.td-price {padding:10px; background:#fafafa;}
    .data-table td.td-qty {padding:0 10px; background:#fafafa;}
    .data-table td.td-delete {background:#fafafa; text-align:center !important;}
    .data-table .td-title {display:inline-block; width:100px; padding:0 10px 0 0; font-weight:bold; }
    .data-table th.td-wishlist, .data-table td.td-wishlist {display:none;}
    #product-attribute-specs-table  th { display:block;}
    #product-review-table {display:table; }
    #product-review-table thead, #product-review-table tfoot, #product-review-table tbody{display:table-row-group; }
    #product-review-table tr{display:table-row; }
    #product-review-table td{display:table-cell; }
    #product-review-table th{display:table-cell; padding:8px 3px; }
    .product-view .product-additional {display:none }
    .product-view .box-up-sell2 {display:block; margin-left:0; }
    .product-view .product-img-box {float:none; margin:0 auto 20px; top: 40px;}
    .product-view .product-shop-info .add-to-links {float:left; clear:none; margin:0;}
    .product-view .product-shop-info .add-to-links li{float:left; margin:8px 0 0 20px;}
    .product-view .product-shop-info .add-to-links li.wishlist{margin-left:0}
    .main .slider-container {width:600px; margin-left:0 }
    .main .slider-container.product-block.jcarousel-skin{width: 740px;}
    .main .slider-container h3 {width:500px; }
    .jcarousel-skin-tango .jcarousel-clip-horizontal,
    .jcarousel-skin-tango .jcarousel-container-horizontal {width:600px;}
    .toolbar { margin:0px; }
    .toolbar-switch .current { display:none; }
    .toolbar-switch .toolbar-title { background: none; padding: 0 7px 0 0; }
    .toolbar-switch select { display:inline; height:auto; }
    .products-list {margin: 0 15px; }
    .products-list .add-to-links {display:none;}
    .products-list .price-box {float:none}
    .products-list .ratings {float:none; margin:5px 0;}
    .products-list .add-to-links li:first-child span {display:none}
    .top-opc {width:600px; margin:0 0 0 50px}
    .opc {width:100%;}
    .opc .td-label {display:block; float:left; }
    #tabs .bloques-home {
    width: 100%;
    float: left;
    }
      .back-title {
    top: 14px;
    font-size: 8px;
    left: 0px;
    }
    .topcategory img {width: 100%;}
    .cms-index-index #tabs .products-grid li.item {height: 540px !important; width: 311px;} 
    .registered-users input.input-text {width: 356px;} 
    .new-users button.button {margin-top: 10px;} 


    /*29 07*/

    .catalog-category-view .add-to-links {
    padding: 5px 0 0 0;
    } 
    .catalog-category-view  .flexslider .slides img {
    width: 133%;
    display: block;
    }
    .contenttext p {
min-height: 147px;
}
.flex-control-nav li {
float: right;
}
 .catalog-category-view .flex-control-nav {
width: 100% !important;
}
.customer-account-index .col-main {
margin-top: 33px;
}


/*30 07*/

.products-grid .btn-cart {
width: 95%;
}
.category-products .item .out-of-stock {
width: 95%;
margin-top: 20px;
}
.category-products .products-list .item .out-of-stock {
width: 24%;
margin-top: 20px;
}
.cms-index-index .flex-control-nav {
width: 37% !important;
}
.catalogsearch-result-index .products-grid li.item {
height: 480px !important;
}
.catalog-category-view .products-grid li.item {
height: 480px !important;
}



#fancybox-wrap {
  width: 620px !important;
}
}

/***** iPhone (portrait) *****/
@media only screen and (max-width: 767px) {
  .zopim{
    display: none;
  }
  .cms-home .products-grid .price-box span.cuotas {
    margin-top: 12px;
  }
  .price-box span.cuotas {
    margin-top: 12px;
  }
  .price-box span.cuotas {
    margin: 12px 0;
  }
  .footer-new .center{
    text-align: center;
    float: none;
  }

  .product-shop .product-tabs.ui-tabs .ui-tabs-nav li, .product-shop .product-tabs.ui-tabs .ui-tabs-nav li a { width: 100%;}
	.navmobile{ display: block; float: left;  width: 100%;}
    #hellothemesNav, #nav{display:none; }
	#left-nav li a {padding: 5px 0; color:#fff;}
	#left-nav li span.arrow{ background-image: url("../images/arrow_menu.png");  background-position: 25% 100%; background-repeat: no-repeat;height:25px;padding:0;position:absolute;right:0;top:8px;width:32px;z-index:0}
	#left-nav li.active span.arrow, #left-nav li.openn span.arrow { background-image: url("../images/arrow_menu.png");  background-position: 25% 100%;  color: #FFFFFF;}
	#left-nav ul.subcategory {background: none repeat scroll 0 0 #FAF7F7;}
	#left-nav li.active a, #left-nav li.openn a {text-shadow:none; color:#ffffff;}
	#left-nav .category.over,#left-nav .cate.over, #left-nav li.active, #left-nav li.openn{background:none}
    #navigation_select{display:block; width:240px; min-width:240px; height:auto; margin:0 auto;}
	nav.hellothemes{display:none; }
	.product-actions{opacity:1; float:inherit;}
	.cms-index-index .add-to-links, .catalogsearch-result-index .add-to-links, .cms-page-view .add-to-links, .catalog-category-view .add-to-links, #related-products-list .add-to-links{display:none;}
	.add-to-links li.compare{display:none;}
	.toolbar .sorter { float: left; width: 100%;}
	#shopping-cart-table tbody td:nth-child(2), #shopping-cart-table th:nth-child(2), #shopping-cart-table tbody td:nth-child(3), #shopping-cart-table th:nth-child(3), #shopping-cart-table tbody td:nth-child(4), #shopping-cart-table th:nth-child(4){display:none;}	
    .data-table td.td-image img {width:100px;}
    .data-table .td-actions .btn-remove, .data-table .td-actions .btn-edit {display:inline;}
    .top-opc {width:100%; margin:0}
	#wishlist-table button.button.btn-cart{float:left;}
	.customer-account-login .information, .customer-account-create .information{display:none;}	
	.customer-account-login .account-login, .customer-account-forgotpassword .account-login, .customer-account-create .account-create {float: none;}
	.header-switch span.current{display:block;}
	.col2-set .col-2, .col2-set .col-1 {float: left;width: 100%;}	
	.products-grid .btn-cart i, .products-list .btn-cart i, button.button.btn-cart i, .link-cart i{float:none;}
	.products-grid .item.over .details, .products-grid .item.no-shadow .details{transform: translateY(0px) !important; -ms-transform:translateY(0px) !important; /* IE */ -webkit-transform:translateY(0px) !important; /* Safari and Chrome */-o-transform:translateY(0px) !important; /* Opera */}
    #checkout-step-login .block-checkout-register, #checkout-step-login .block-checkout-login { width:100%;  margin: 20px auto 0 !important; float: none;}
	.product-tabs li {float:none; margin:0 0 10px;}
	.product-block { float: left;  margin-top: 15px;  width: 100%;}
	.customer-account-create .fieldset, .customer-account-edit .fieldset, .newsletter-manage-index .fieldset, .customer-address-form .fieldset{width:95%;padding-left: 0;}
	.customer-account-create .account-create, .customer-account-create .buttons-set, .newsletter-manage-index .buttons-set, .customer-address-form .buttons-set{ margin:0;}	
	.block-login .block-title {padding:20px 20px 30px;}
	.switcher{display:none;}
  #left-nav .category.over,#left-nav .cate.over,#left-nav li.active a, #left-nav li.openn a, #left-nav li.active, #left-nav li.openn li a:hover {color:#ccc;}
  #institucional .span4 {display:none;}  
	/*body {background:#000;}*/
    .row { margin:0 auto; width:300px; }
	.product-actions  .more_view {background-size:; width:40px; height:40px; left:-2%; }
	.product-actions .quick-view {width:40px; height:40px; background-size: 30px 30px; right:-2%;} 
	.span33 { width: 196px;}
	.row-fluid > .span8 {width: 100%;}
	.img-right-slide, .payment-options.span3 {display:none;}
	.slider.span8 {width:100%;}
	.span7 {width: 100%;}
	.footer-container .span6 {width: 100%;}
    ul.links { float:none; margin:0; }
    .links li{ line-height:120%; display:inline; padding:0 5px; text-align:center; white-space:nowrap; }
    .links li.separator {display:none; }
	.copyright .links li {padding:0; margin-right:11px;}
	.footer-container address {margin-top: 10px;text-align: center;}
    .toolbar-switch .current { display:none; }
    .toolbar-switch .toolbar-title { background: none; padding: 0 7px 0 0; }
    .toolbar-switch select { display:inline; height:auto; }
    header a.logo { float:left; display:block; margin:20px 10px 30px; text-align:center;width: 100%; }
    header h1.logo { float:none; display:block; }
    /*.cart-top-container .details-border, .cart-top-container .cart-promotion, .cart-top-container .details p, .cart-top-container .details .mini-products-list, .cart-top-container .details .subtotal-wrapper, .cart-top-container .details .buttons {display:none; }
    .cart-top-container .details{display:block; position:relative; top:0; left:0; margin:0 auto; padding:10px 16px 0; box-shadow:none; -webkit-box-shadow:none; -moz-box-shadow:none; display:none;}
    .cart-top-container .details .cart-top-title{display:block; }*/
    .search-top-container {margin:20px 4px 0 10px; padding:0; float:right; clear:none; width:100%; margin:15px 0;}
    .search-top-container .search-top, .search-top-container .search-form-border{display:none; }
    .search-top-container .search-form{display:block; position:relative; top:0; left:0; margin:0; padding:0 0 8px 0; box-shadow:none; -webkit-box-shadow:none; -moz-box-shadow:none; }
	#search_mini_form .form-search { min-width: auto;}
	.cart-top-title, .cart-top-container .summary  {float:left;}
    #hellothemesNav, #nav{display:none; }
    #navigation_select{display:block; width:auto; min-width:auto; height:auto; margin:0 auto;}
    nav .nav-top-title, .nav-container .nav-top-title{display:block; }
	#fancybox-content .product-view .product-img-box {display:none;}
    .col1-layout .products-grid { width:100%; clear:both; margin:0; }
    .col-main, .col-main-left, .col-main-right { float:none !important; width:100%; margin:0 auto; padding:0 0 0; }
	.spancat {width: 190px;}
	.fancybox.quick-view {display:none;}
	.product-actions .more_view {left: 16%;}
    .col-left { float:none; margin:0 auto; }
    .col1-layout .col-main {width: 300px; margin:0;}
    .col1-layout .col-main .products-grid { margin:0;}
    .catalog-category-view .col-left, .catalog-category-view .col-right {padding:0;}
    .cart .cart-collaterals .grid_4{width:100% !important; margin:0 0 25px;}
    .checkout-onepage-index .col-right {padding:20px 0 0; float:none; margin:0 auto; }
    .checkout-onepage-index .col-right .block { float:none; margin:0 auto 30px; }
    .home-main .category-products {width:300px; margin:0 auto 30px ;}
    .home-main, .home-right {float:none; margin:30px auto 0}
    .home-main, .col1-layout .home-main .products-grid {width:300px;}
    .flexslider .slides .content{max-width:240px; margin:30px; }
    .flexslider .slides .content strong{font-size:32px; line-height:26px; }
    .site-block, .mousetrap, #cloud-big-zoom {display:none; }
    .block-login {width:300px;}
    .block-login .block-content {padding:0 18px 25px;}
    .block-login .new-users {width:300px;margin:0 0 -25px;}
    .product-view .product-additional {display:none }
    .product-view .box-up-sell2 {display:block; margin-left:0; }
    .product-view .product-img-box {float:none; margin:0 auto 20px; }
    .product-view .product-img-box .product-image img{ width:350px; height:auto; }
    .product-view .product-shop-info .add-to-links {float:left; clear:none; margin:0;}
    .product-view .product-shop-info .add-to-links li{float:left; margin:8px 0 0 0px;}
    .product-tabs-content {margin-top:0; }
    .product-view .box-tags .form-add .input-box {margin: 0; width: 150px;}
    .product-view .box-tags .form-add input.input-text {width:167px;}
    .main .slider-container {width:300px; margin-left:0px }
    .main .slider-container h3 {width:190px; }
    .jcarousel-skin-tango .jcarousel-clip-horizontal,
    .jcarousel-skin-tango .jcarousel-container-horizontal {width:300px;}
    .cart .page-title {height:auto;}
    .cart .page-title .checkout-types {margin:60px 15px 0; float:none;}
    .cart .title-buttons .checkout-types li {float:none; margin:0; text-align:center;}
    #shopping-cart-totals-table strong {font-size:20px; padding:0 10px 0 0;}
    /*.data-table table, .data-table thead, .data-table tbody, table.data-table td, .data-table tr { display: block; border: 0;  text-align: left !important;}*/
    .data-table th {padding: 10px;}   
    .data-table td.td-name h2 {font-size:20px; font-weight:300; }
    .data-table td.td-image a {text-align:center; }
    .data-table td.td-price {padding:5px; background:#fafafa;}
    .data-table td.td-qty {padding:0 10px; background:#fafafa;}
    .data-table td.td-delete {background:#fafafa; text-align:center !important;}
	.data-table .td-actions {display:inline; padding:0 5px; }
    .product-tabs-content .data-table th { display:block;}
    #product-review-table {display:table; }
    #product-review-table thead, #product-review-table tfoot, #product-review-table tbody{display:table-row-group; }
    #product-review-table tr{display:table-row; }
    #product-review-table td{display:table-cell; }
    #product-review-table th{display:table-cell; padding:8px 3px; }
    #toTop {display:none !important;}
    .pager {text-align:center; }
    .products-list .product-image, .products-list .f-left {float:none !important;}
    .products-list .add-to-links {display:none;}
    .products-list .price-box {float:none}
    .products-list .ratings {float:none; margin:5px 0;}
    .products-list .add-to-links li:first-child span {display:none}
    .products-list .product-shop {margin:10px 0 0;}
    .top-opc li{margin:0 0 30px 0}
    #checkout-review-submit p {margin:0 20px 0 0;}
    #checkout-step-login input.input-text {width:218px;}
    .flexslider .slides .description {opacity: 0.8;display:block;}
    .flexslider .slides .description p{display: none;}
    .flexslider .slides .description h3{text-align: center;}
    .row-fluid > .span3 {
    width: 31%;
    margin-top: 10px;
    }
    .main-banners em {
    display: none
    }
    .main-banners strong {
    font-size: 15px;
    }
    #tabs .bloques-home {
    width: 100%;
    float: left;
    }
    .banner-home .span3 {
    margin-left: 15px; 
    }
    #search_mini_form .form-search img {
    } 
     .back-title {
    top: 14px;
    font-size: 8px;
    }
    .topcategory img {width: 100%;}
     #institucional .span4 {display:none;}
     .cms-index-index #tabs .products-grid li.item {width: 389px;}
     .new-users button.button {margin-top: 10px;} 

     .customer-account-index .col-main {
      margin-top: 33px;
      }
      #search {
      top: 0px;
      }
      #search_mini_form .form-search button, 
      .footer-subscribe button.button, .btn-cart, .button_slide, 
      .cart-top-container .btn-checkout, button.button {
      margin-top: 0px;
      }
      .footer-subscribe button.button {
        margin-left: 31%;
      }
      .products-grid .btn-cart i, .products-list .btn-cart i, button.button.btn-cart i, .link-cart i {
      float: left;
      }
      .flex-control-nav {
      width: 100% !important;
      }
      .catalog-category-view .flexslider .slides img {
      width: 130%;
      }
      .pager .pages {
      float: right;
      margin: 10px 0 0;
      }
      .pager .pages li {
      display: inline-block;
      width: 20px;
      height: 29px;
      line-height: 29px;
      margin: 0 0 0 3px;
      text-align: center;
      }
      .sorter .sort-by label {
      margin: 0px;
      }
      #onepagecheckout_orderform .form_fields sup {
      color: #FF0000;
      font-size: 100%;
      line-height: 0;
      margin-left: 3px;
      position: relative;
      top: 0px;
      }
      #onepagecheckout_orderform .col3-set .col-2 {
      margin-left: 0px !important;
      }
      .product-view .product-shop {
      float: right;
      position: relative;
      width: 100%;
      }
      .cms-index-index .flex-control-nav {
      width: 100% !important;
      }
      .catalog-category-view .products-list {
      margin: 0;
      padding: 0;
      float: left;
      width: 100%;
      }
      .catalogsearch-result-index .products-grid li.item {
      height: 480px !important;
      }



      #fancybox-wrap {
        width: 420px !important;
      }
      .calculador-main div.div-tarjetas {
      float: left;
      display: block;
      width: 100%;
      }
      .calculador-main div.div-otros-medios {
      float: left;
      display: block;
      width: 100%;
      }
      select#bancos {
      width: 90%;
      float: left;
      font-size: 13px;
      margin-left: 10px;
      height: 37px;
      }
      .calculador-main .h3title {
      float: left;
      font-size: 14px;
      width: 97%;
      }

      .catalog-product-view .zoomContainer {
        display: none;
      }
}


/***** iPhone (landscape) *****/
@media only screen and (min-width: 481px) and (max-width: 767px) {
  .flexslider .slides .contenedor { padding: 20px;}
  .flexslider .slides .contenedor strong { font-size: 18px;}
  .flexslider .slides .contenedor p {display: none;}
  .flexslider .slides .contenedor strong { font-size: 16px; line-height: 30px;}
  .flexslider .slides .contenedor button { padding: 0 !important;}
	.footer-top .span7 { height: auto;}
	.block-subscribe input{width:68%; margin-left: 23px;}
	.ui-widget-header{height:auto;}
	#tabs .ui-tabs-panel { float: left; position: relative; width: 99%; height: 622px;}
	.products-grid .btn-cart span, .products-list .btn-cart span, button.button.btn-cart span, .footer-info{display:none;}
	#search { margin: 0; width: 170px;}
	.col1-layout .col-main, .col1-layout .product-view .product-shop {width: 100%;}
	.products-list .catalog-image, .products-list .product-image img{width:100px;}
	.products-list .catalog-image .quick-view span{ top: 20%;}
	.products-list .product-shop {  float: right;  margin: 0;  padding: 0;  position: relative;  width: 74%;}
	.products-list .product-actions .btn-cart{margin:0;}
	.products-list .product-actions {height:auto;}
	.my-account button.button{padding: 0 10px;}
	.data-table td.td-edit, .data-table .btn-remove {  display: block;}
	#wishlist-table tbody td:nth-child(3), #wishlist-table th:nth-child(3){ display:none !important;}
	.catalog-category-view .products-grid ,	.catalogsearch-result-index .products-grid {width: 460px !important;}
	.cart-top-container .summary{width:111px;}
    .data-table .td-title {display:inline-block; width:auto; padding:0 10px 0 0; font-weight:bold; }
    .data-table .button, .data-table .btn-continue { display: block; float: right; margin: 0 10px 10px auto;}
	.form-list li.wide select { width: 390px;}
	.footer-subscribe .validation-advice {  position: absolute; right: 70px;  top: 120px;}
	.checkout-cart-index .slider-container{display:none;}
	.product-actions{ padding-bottom: 5px; padding-top: 5px;}	
	.social-links{ margin-left: 30px;}
	.span33 {  width: 133px;}
	.catalog-category-view .products-grid li.item, .cms-index-index #carousel1 .products-grid li.item, .cms-page-view .products-grid li.item, .cms-page-view .products-grid li.item, .cms-index-index #tabs .products-grid li.item, .catalogsearch-result-index .products-grid li.item, #related-products-list li.item {  height: 521px !important;}
	.opc .form-list li.wide input.input-text {width: 400px !important;}
	.cart-top-container { float: left;  margin: 0;  width: 38%;}
	.search-top-container {  clear: none;  float: right;  margin: 0 0 25px;  padding: 0;  width: 51%;}
	.data-table td {padding:6px;}
	.form-list li.wide .input-box { width: 100%;}
	.form-list li.wide input.input-text { width: 253px;}
	.search-autocomplete{left:0 !important; height:auto;}
	.footer-subscribe button.button, .btn-cart, .button_slide, .cart-top-container .btn-checkout, button.button{padding: 0 20px !important;}
	#search_mini_form .form-search button, {padding:0;}
  .cms-page-view .products-grid{width:470px;}
	.header-switch {line-height: 14px;}
	.products-grid .btn-cart, .products-list .btn-cart, .category-products .item .out-of-stock, button.button.btn-cart {  color: #FFFFFF; font-size: 15px;  height: 48px;  padding: 0 10px; width:60%;}
	.catalog-product-view button.btn-cart i{background-position: -245px 4px !important;}
	.catalog-product-view button.btn-cart{width:100%;}
	.products-grid .btn-cart i, .products-list .btn-cart i, button.button.btn-cart i, .link-cart i {  background-image: url("../images/icons.png");  background-position: -238px 4px;   display: inline-block;  height: 42px;  width: 40px;}
	#wishlist-table button.button.btn-cart i{background-position: -245px 4px;}
	.footer-info ifram{width:180px !important;}
	.cart-top-container .details{left:0px;}
	.opc .form-list .field {  width: 100%;}
	.opc .form-list input.input-text {  width: 400px;}
	.form-list select { width: 413px;}
	.sorter .limiter{float:right;}
	#upsell-product-table .minimal-price-link{float:left;}
	#upsell-product-table .price { float: left; font-size: 20px;}
	.customer-account-create .form-list input.input-text, .customer-account-edit .form-list input.input-text, .customer-address-form .form-list input.input-text, .customer-address-form .form-list li.wide input.input-text { width: 445px;}
	.customer-address-form .form-list select { width: 457px;}
	#wishlist-view-form  .buttons-set button{padding: 0 10px !important;}
	#wishlist-table .btn-cart i {background-position: -230px 4px;width: 36px;}
	.products-list .btn-cart { width: auto;}
	.products-list .btn-cart i{ background-position: -246px 4px;}
	.addthis { float: left; width: 45%;}
	#___plusone_0{width:93px !important;}
	.catalog-image .quick-view span{ top: 45px !important;}
	#product-review-table{width:100%;}
	#product-review-table th{padding:10px;}
	#review-form .form-list {float: left; width: 100%;}
	#review-form .form-list input.input-text, #review-form .form-list textarea{width:390px;}
	#review-form .buttons-set { float: left;}
	.flexslider .slides > li {  height: 190px !important;}
	.flexslider .slides .contenedor strong {  font-size: 26px;  line-height: 30px;}
  #search_mini_form .form-search img {
   ottom: 2px;
    } position: relative;
    right: 1px;
    b
    #search_mini_form .form-search button {float: right;}
	.navmobile { clear: both;}	
	/*body {background:#ff0000;}*/
    .row { margin:0 auto; width:456px; }
	.row-fluid > .span8 {width: 100%;}
	.img-right-slide {display:none;}
	.sidebar {display:block;width: 100%; float: left;}
    ul.links { display:inline;}
    .links li{ line-height:150%; display:inline; margin-right:15px;  }
    .links li:last-child{ margin-right:0; }
    .links li.separator {display:none; }
    .col1-layout .col-main .products-grid { margin:0;}
    .homepage-banners a .content p{display:block;}
    .flexslider .slides .content{max-width:396px; margin:30px; }
	.main .slider-container {margin-left:0 }
    .homepage-banners {width:300px !important;}
    .homepage-banners .grid_6{width:300px;}
    .homepage-banners a .content p{display:none;}
	.product-view .product-shop {clear: both;float: none;padding-right: 0;position: relative;width: 100%;}
  .left-nav li.active a {color:#fff !important; }
  #institucional .span4 {display:none;}
  .registered-users input.input-text {width: 100%;}
  .new-users button.button {margin-top: 10px;float: inherit;}
  .customer-account-login h2 {margin-top: 10px;}
  .buttons-set button.button {margin-top: 10px;float: inherit;}



  .products-grid .btn-cart, .products-list .btn-cart, 
.category-products .item .out-of-stock, button.button.btn-cart {
width: 89%;
}
.products-grid .btn-cart span, .products-list .btn-cart span {
display: block;
}
.catalog-category-view  .span33 {
width: 100%;
}
.catalog-category-view .products-grid li.item, .cms-index-index #carousel1 .products-grid li.item, .cms-page-view .products-grid li.item, .cms-page-view .products-grid li.item, .cms-index-index #tabs .products-grid li.item, .catalogsearch-result-index .products-grid li.item, #related-products-list li.item {
height: auto !important;
}
.catalog-image .quick-view span {
top: 147px !important;
}
.catalogsearch-result-index .span33 {
width: 100%;
}
.col1-layout .col-main, .col1-layout .product-view .product-shop {
width: 100% !important;
}

/*
608*/
.inchoo-search-index-index .fieldset {
width: 87%;
}
  div.controls {
padding: 0 15px;
position: relative;
bottom: 20px;
margin-top: 30px;
}



.products-grid .btn-cart, .products-list .btn-cart, .category-products .item .out-of-stock, button.button.btn-cart {
width: 100%;
}
.products-grid .btn-cart span, .products-list .btn-cart span, button.button.btn-cart span {
display: block;
}
button.button.btn-cart span {
font-size: 17px;
color: #fff;
font-weight: normal;
height: auto;
}
.products-grid .btn-cart {
width: 100%;
}


}


@media only screen and (max-width: 480px) {
  .flexslider .slides .contenedor strong { float: left; font-size: 10px; line-height: 10px;width: 120%;}
  .flexslider .slides .contenedor button { margin: 1em 0 0; display: none;}
  .flexslider .slides > li { height: 128px !important;}
	.navmobile { clear: both;}	
	#wishlist-view-form  button.button, #shopping-cart-table button.button{padding:0}
	#wishlist-view-form  button.button span span, #shopping-cart-table button.button span span{ font-size: 12px; padding: 0 7px;}
	.dashboard .welcome-msg { margin: 8px 0 0;}
	#my-orders-table tbody td:nth-child(2), #my-orders-table th:nth-child(2), #my-orders-table tbody td:nth-child(3), #my-orders-table th:nth-child(3), #my-orders-table tbody td:nth-child(5), #my-orders-table th:nth-child(5){  display:none !important;}
	#shopping-cart-table td.td-image img { width: 50px;}
	#shopping-cart-table .td-title{padding:0; display:block;}
	#shopping-cart-table td.td-qty{padding:0}
	#shopping-cart-table td.td-image img { width: 30px;}
	#shopping-cart-table .btn-edit2 { height: 40px; margin-bottom: 0px; width: 40px;}
	#shopping-cart-table .button, #shopping-cart-table .btn-continue { display: inline-block; float: none; margin: 10px auto;}
	.checkout-cart-index .slider-container{display:block;}
	.form-list li.wide select { width: 250px;}
	.opc .td-label{ display: inherit;}
	.opc .step{padding:10px;}
	.product-actions{padding-top:15px;}
	.product-actions{opacity:1; float:inherit;}
	.product-img-box div.content{width:305px;}
	.catalog-category-view .products-grid, .catalogsearch-result-index .products-grid {width: 300px !important;}
	#wishlist-table tbody td:nth-child(2), #wishlist-table th:nth-child(2), #wishlist-table tbody td:nth-child(3), #wishlist-table th:nth-child(3){  display:none !important;}
	.cms-index-index #carousel1 .products-grid li.item, .catalog-category-view .products-grid li.item, .cms-page-view  .products-grid li.item, .catalogsearch-result-index .products-grid li.item { height: 540px !important;}
	.cms-index-index #tabs .products-grid li.item, #related-products-list li.item  { min-height: 455px !important;}	
	.footer-social label{padding: 0 0 0 30px;}
	.social-links a { margin-left: 5px; margin-right: 0;}
	.product-img-box div.content{width:303px;}
	.product-view .product-shop .no-rating, .product-view .product-shop .ratings{float:left;}
	.catalog-product-view .price-box .price, .review-product-list .price-box .price { font-size: 16px;}
	button.button.btn-cart span{display:none;}
	.block .block-content li, .block .block-content li.item {  background: none repeat scroll 0 center transparent !important;}
	.header-switch span.current{display:block;}
	.opc .form-list .field { Width: 100%;}
	.opc .form-list li.wide input.input-text { Width: 88%;}
	.data-table td {padding:0px;}
	.links a{font-size:10px !important;}
	.customer-address-index button.button span span {padding: 0; font-size: 10px;}
	.customer-address-index button.button {padding: 0 10px;}
	.col2-left-layout .page-title {margin: 0 0px;}
	.form-list li.wide input.input-text { width: 254px;}
	.form-list select {width: 266px;}
	.cms-page-view .products-grid{width:300px;}
    .cart-top-container { clear: none; float: left; margin: 20px 0 0; width: 100%;}
	.header-switch { float: right; margin-right: 0; padding: 10px 0 6px 10px;  width: 16%;}
	.currency-switch {  border-radius: 0 0 3px 0; float: right; padding: 14px 0 6px 10px;  position: relative;  width: 10%;}
	.catalog-category-view img {  max-width: 100%;}
	.products-grid .btn-cart span, .products-list .btn-cart span, button.button.btn-cart span{display:none;}
	.catalog-image .quick-view span{top:120px;}
	#tabs .ui-tabs-nav { float: left; height: 100%; margin-bottom: 0;  width: 100%;}
	.products-grid .btn-cart i, .products-list .btn-cart i, button.button.btn-cart i, .link-cart i {  background-image: url("../images/icons.png");  background-position: -249px 4px;}
	.ui-tabs .ui-tabs-panel { border-top: 1px solid #EBEBEB;  float: left; width: 87%;}
	.span33 {width:299px;}	
	.header-switch span.current{top:1px;}
	/*.cart-top-container .details{display:none;}*/
	.cart-top-container .summary{width:238px;text-align: right;}
	.opc .form-list input.input-text, .opc .form-list li.wide input.input-text  {  width: 265px;}
	.form-list select { width: 278px;}
	.sorter .sort-by{width:55%; }
	.sorter .limiter{display:none;}
	.pager .pages { float: left;}
	.product-prev{float:left;}
	.price-notice { float: left; width: 100%; padding: 0;}
	.span2 { width: 245px;}
	#upsell-product-table li.item{height:340px; margin-bottom: 20px;}
	.block-subscribe input { margin-left: 16px;  padding: 0 0 0 12px; width: 175px;}
  .footer-new.block-suscribe.footer-content input {
    margin: 10px 5%;
    width: 100%;
    display: block;
  }
	.breadcrumbs { line-height: 27px;}
	.customer-account-create .form-list input.input-text, .customer-account-edit .form-list input.input-text, .customer-address-form .form-list input.input-text, .customer-address-form .form-list li.wide input.input-text  { width: 290px;}
	.box-content a { margin-bottom: 15px;}
	.form-list li.wide .input-box, .customer-address-form .form-list select {  width: 302px;}
	.catalogsearch-result-index .sorter .amount{text-align:left;}
	.catalogsearch-result-index .toolbar .sort-by select{display:none;}
	#wishlist-table .btn-cart i { background-position: -223px 4px;width: 77px;}
	.product-view .product-img-box .product-image{width:300px !important; height:300px !important;}
	.product-view .product-shop .price-box{width: 100%; margin-bottom: 10px;}
	.addthis{width:85%;}
	div.slideshow img{width:300px;}
	#search{width:208px; margin:0;}
	.page-empty #___plusone_0 { width: 80px!important;}
	#fancybox-wrap{padding:10px !important; width:300px !important;}
	body.ajax-index-options{padding:0;width: 280px !important;}
	.products-list .catalog-image .quick-view span, .box-up-sell .catalog-image .quick-view span{top:100px;}
	#product-review-table{width:100%;}
	#review-form .form-list{float:left; width:100%;}
	#review-form .form-list input.input-text, #review-form .form-list textarea{width:248px;}
	#review-form .buttons-set { float: left;}	
	.product-shop .ui-tabs .ui-tabs-nav li a, .product-tabs.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .product-shop .ui-tabs .ui-tabs-nav li.ui-state-hover a {  float: left;  font-size: 13px;  padding: 9px;}
	.ui-widget-header{height:35px;}
	.product-shop .add-to-box {  margin-top: 0;}
	.products-grid .btn-cart.out-of-stock span{display:block;}
  .flexslider .slides .contenedor p {display: none;}
  .flexslider .span4{width: 100px !important; height: 128px !important;}
  .toribio {display: none !important; }
  #search_mini_form .form-search button {float: right;}
  .row-fluid > .span3 {width: 100%;}
  .row-fluid > .span6 {width: 100%;margin: 0;padding-top: 10px;}
  .main-banners strong {font-size: 21px;}
  .banner-home .span3 {margin-left: 0px;}
  .ui-tabs .ui-tabs-nav li.ui-tabs-selected a {font-size: 13px !important;}
  .cms-index-index #tabs .products-grid li.item {width: 238px; min-height: 421px}
	#tabs .ui-tabs-panel{width:98.7%;}
	.footer-top .span7{height:auto}
	.footer-subscribe .validation-advice { left: 17px; position: absolute; right: auto; top: 123px;}
	.topcategory .category-description h1{font-size:1.5em;}
	.topcategory .category-description p{font-size:10px;}
	.products-list .catalog-image, .products-list .product-image img{width:75px;}
	.products-list .catalog-image .quick-view span{ top: 20%;}
	.products-list .product-shop {  float: right;  margin: 0;  padding: 0;  position: relative;  width: 72%;}
	.products-list .product-actions{float:none;}
	.products-list .product-actions .btn-cart{margin:0 0 10px;}
	.products-list .ratings{width:100%;}
	.products-list .ratings, .products-list .ratings a{float:left;}
	.col1-layout .product-view .product-shop{width:100%;}
	.product-view .product-img-box .product-image-zoom, .product-view .product-img-box .product-image img, .product-view .product-img-box{width:100% !important;}
	.product-view .product-img-box .product-image-zoom{background:transparent;}
	.product-view h3, .ui-widget{font-size:12px;}
	#addTagForm button.button{padding:0}
	#prod-view-tabs .email-friend, #prod-view-tabs .ratings{margin-bottom:10px !important;}
	.ui-tabs .ui-tabs-nav li a {font-size: 12px;}
	.view-all-category, .footer-info.row-fluid  {display:none;}
	.spancat {width: 100%;}
	.sidebar {display:block;}
	.footer-subscribe .input-box {width: 81%;}
	.product-actions  .more_view {left:5%; width:52px; height:52px;}
	.product-actions .quick-view {right:5%;width:52px; height:52px;} 
	.cart-top-title  {margin:0 auto;}
	.product-actions .more_view {left: 22%;}
	.product-view .product-shop {clear: both;float: none;padding-right: 0;position: relative;width: 100%;}
	.product-view .box-tags .form-add label {display:none;}
	.product-view .produc
  .main-banners em {display: none}
  .registered-users input.input-text {width: 100%;}
  .new-users button.button {margin-top: 10px;float: inherit;}
  .customer-account-login h2 {margin-top: 10px;}
  .buttons-set button.button {margin-top: 10px;float: inherit;}
  .product-view .qty-container {float: left;}
  button.button.btn-cart {padding: 0 29px;}
  .addthis_button_pinterest_pinit {margin-top: 15px}
  .addthis_button_google_plusone {margin-top: 15px}
  .addthis_button_facebook_like {margin-top: 15px}
  .footer-container .copyright a {font-size: 9px;}
  .product-view .product-shop .price-box .special-price {
    margin-left: 0;
  }
}


@media only screen and (max-width: 480px) {

  .catalogsearch-result-index .span33 {
  width: 100%;
  }
  .col1-layout .col-main, .col1-layout .product-view .product-shop {
  width: 100% !important;
  }
  .flex-control-paging li a.flex-active {
  background: none repeat scroll 0 0 #000000;
  }
  .products-grid .btn-cart span, .products-list .btn-cart span {
  display: block;
  }
  .product-view .product-shop {
  float: right;
  position: relative;
  width: 100%;
  }
  .ajax-index-options .product-view .product-img-box {
  float: left;
  margin: 0 25px 0 0;
  width: 100% !important;
  }
  .product-view .add-to-cart {
  float: right;
  margin: 0 0px 0 0;
  }
  .product-view .qty-container {
  float: left;
  }
  .catalog-image .quick-view span {
top: 90px;
}
.products-grid .btn-cart {
width: 100%;
}
.cms-index-index .products-grid .btn-cart {
width: 90%;
}
.product-view .product-shop {
float: right;
position: relative;
width: 100%;
}
.fbCommentContext .composer textarea, .fbFeedbackContent .composer textarea {
width: 40%;
}
.product-view .product-shop .product-options {
margin: 10px 0 20px;
padding: 5px 15px 15px;
border: 1px solid #E7E7E7;
float: left;
width: 88%;
}
.inchoo-search-index-index .fieldset {
width: 80%;
}

.calculador-main .container .result {
float: left;
padding: 14px;
width: 88%;
border-radius: 12px;
}


.products-grid .btn-cart span, .products-list .btn-cart span, button.button.btn-cart span {
display: block;
}
button.button.btn-cart {
padding: 0 10px;
}

.products-grid .btn-cart span, button.button.btn-cart span {
margin-right: 0px;
}
button.button.btn-cart span {
  margin-left: 4px;
}
.products-grid .btn-cart span {
  line-height: 43px;
}
.pager .pages li {
  width: 29px;
}
.catalog-category-view .flex-control-nav {
bottom: 0px !important;
}
.catalog-product-view button.button.btn-cart i, .link-cart i {
}
.product-view .product-shop .add-to-cart button.button {
margin: 0;
width: 150px;
}
.add-to-links li.wishlist {
display: none;
}
.inchoo-search-results-for .products-grid {
height: auto;
width: 100% !important;
}
.inchoo-search-results-for .products-grid.span33 {
  height: 500px !important;
}
#shopping-cart-table .button, #shopping-cart-table .btn-continue {
width: 100%;
}
.product-shop .add-to-box {
width: 100%;
}
.product-shop .product-tabs.ui-tabs .ui-tabs-nav li a {
width: 97%;
}
.cms-institucional .span9 {
  width: 100%;
}
.cms-hellothemes-no-route .col-main p img {
  width: 100%;
}
.checkout-cart-index .data-table td.td-price {
  font-size: 11px;
}
.checkout-cart-index .data-table td.td-image {
border-left: none;
display: none;
}
.checkout-cart-index th.td-image {
  display: none;
}
.order-products-table thead th {
font-size: 11px !important;
}
.input-box {
margin-top: 15px;
}
.mpexpress-checkout-redirect .col-main .right {
  width: 100% !important;
  height: auto !important;
}
.cms-index-noroute .col-main button.button {
  padding: 0 5px;
}
.product-view .navigation{
  margin-top: 0 !important;
}

}


@media only screen and (min-width: 768px) and (max-width: 900px) {
#fancybox-wrap {
  width: 620px !important;
  left: 5% !important;
}

}
@media only screen (max-width: 991px){
  .block.block-poll.masonry-brick,.block.block-list.block-compare.masonry-brick{display:none;}
}
