<?php
$_helper = $this->helper('catalog/output');
$_product = $this->getProduct();
?>

<script type="text/javascript">
    var optionsPrice = new Product.OptionsPrice(<?php echo $this->getJsonConfig() ?>);
</script>
<div class="product-view">
    <div class="product-essential">
        <form action="<?php echo $this->getSubmitUrl($_product) ?>" method="post" id="product_addtocart_form"<?php if($_product->getOptions()): ?> enctype="multipart/form-data"<?php endif; ?>>
            <div class="no-display">
                <input type="hidden" name="product" value="<?php echo $_product->getId() ?>" />
                <input type="hidden" name="related_product" id="related-products-field" value="" />
            </div>

            <div class="product-img-box" style="width:315px">
                <?php /* New and Special price */ //echo $this->helper('hellothemessettings')->getLabel($_product); ?>
				<?php if (!$this->helper('hellothemessettings')->getNewLabel($_product) == 'New'): ?>
					<?php echo ""; ?>
				<?php else: ?>
					<?php echo '<div class="sticker sticker-top-left "><span>' . $this->helper('hellothemessettings')->getNewLabel($_product) . '</span></div>' ?>
				<?php endif; ?>
				
				<?php if (!$this->helper('hellothemessettings')->getSaleLabel($_product) == 'Sale To:'): ?>
					<?php echo ""; ?>
				<?php else: ?>
					<?php echo '<div class="sticker sticker-top-right "><span>' . $this->helper('hellothemessettings')->getSaleLabelOnly($_product) . '</span>' . '<span class="specialto">' . $this->helper('hellothemessettings')->getToOnly($_product) . '</span></div>' ?>
				<?php endif; ?>

                <?php if ($_product->getImage() != 'no_selection' && $_product->getImage()): ?>
                <p class="product-image">
                    <img src="<?php echo $this->helper('catalog/image')->init($_product, 'image')->resize(300, 300); ?>" data-srcX2="<?php echo $this->helper('catalog/image')->init($_product, 'image')->resize(300*2, 300*2); ?>" alt="<?php echo $this->escapeHtml($this->getImageLabel());?>" title="<?php echo $this->escapeHtml($this->getImageLabel());?>" width="<?php echo 300;?>" height="<?php echo 300;?>" />
                </p>
                <?php else: ?>
                <p class="product-image">
                    <?php
                    $_img = '<img src="' . $this->helper("catalog/image")->init($_product, "image")->resize(300, 300) . '" data-srcX2="' . $this->helper("catalog/image")->init($_product, "image")->resize(300*2, 300*2) . '" alt="' . $this->escapeHtml($this->getImageLabel()) . '" title="' . $this->escapeHtml($this->getImageLabel()) . '" width="300" height="300" />';
                    echo $_helper->productAttribute($_product, $_img, 'image');
                    ?>
                </p>
                <?php endif; ?>
            </div>

            <div class="product-shop">
                <div class="product-shop-info">
                    <div class="product-name">
                        <h1><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></h1>
                    </div>

                    <?php echo $this->getChildHtml('hellothemes_product_addthis') ?>

                    <?php echo $this->getChildHtml('alert_urls') ?>
                    <?php echo $this->getTierPriceHtml() ?>
                    <?php echo $this->getChildHtml('extrahint') ?>

                    <?php if ($_product->getShortDescription()):?>
                    <div class="short-description">
                        <div class="std"><?php echo $_helper->productAttribute($_product, nl2br($_product->getShortDescription()), 'short_description') ?></div>
                    </div>
                    <?php endif;?>

                    <?php echo $this->getChildHtml('other');?>
                    <?php echo $this->getChildHtml('product_type_data') ?>
                    <?php if (!$this->hasOptions()):?>

                    <div>&nbsp;</div>

                    <div class="add-to-box">
                        <?php if($_product->isSaleable()): ?>
                            <?php echo $this->getChildHtml('addtocart') ?>
                        <?php endif; ?>
                    </div>


                    <?php echo $this->getChildHtml('extra_buttons') ?>
                    <?php endif; ?>

                    <?php echo $this->getChildHtml('addto') ?>
                </div>
            </div>
			<?php if ($_product->isSaleable() && $this->hasOptions()):?>
				<?php echo $this->getChildChildHtml('container1', '', true, true) ?>
			<?php endif;?>

			<?php if ($_product->isSaleable() && $this->hasOptions()):?>
				<?php echo $this->getChildChildHtml('container2', '', true, true) ?>
			<?php endif;?>
            <div class="clearer"></div>
        </form>
        <script type="text/javascript">
            //<![CDATA[
            var productAddToCartForm = new VarienForm('product_addtocart_form');
            productAddToCartForm.submit = function (button, url) {
                if (this.validator.validate()) {
                    var form = this.form;
                    var oldUrl = form.action;
                    if (url) {
                        form.action = url;
                    }
                    var e = null;
                    // Start of our new ajax code
                    if (!url) {
                        url = jQuery('#product_addtocart_form').attr('action');
                    }
                    url = url.replace("checkout/cart", "ajax/index"); // New Code
                    var data = jQuery('#product_addtocart_form').serialize();
                    data += '&isAjax=1';
                    jQuery('#ajax_loader').css('display', 'block');
                    try {
                        jQuery.ajax({
                            url:url,
                            dataType:'json',
                            type:'post',
                            data:data,
                            success:function (data) {
                                jQuery('#ajax_loader').css('display', 'none');
                                parent.setAjaxData(data, true);

                                jQuery('body').append('<div class="alert"></div>');
                                jQuery('.alert').slideDown(400);
                                jQuery('.alert').html(data.message).append('<button></button>');
                                jQuery('button').click(function () {
                                    jQuery('.alert').slideUp(400);
                                });
                                jQuery('.alert').slideDown('400', function () {
                                    setTimeout(function () {
                                        jQuery('.alert').slideUp('400', function () {
                                            jQuery(this).slideUp(400)
                                        });
                                    }, 7000)
                                });
                                // Abrir popup para que el cliente decidad que quiere seguir haciendo
                            }
                        });
                    } catch (e) {
                    }
                    // End of our new ajax code
                    this.form.action = oldUrl;

                    if (e) {
                        throw e;
                    }
                }
            }.bind(productAddToCartForm);

            productAddToCartForm.submitLight = function(button, url){
                if(this.validator) {
                    var nv = Validation.methods;
                    delete Validation.methods['required-entry'];
                    delete Validation.methods['validate-one-required'];
                    delete Validation.methods['validate-one-required-by-name'];
                    if (this.validator.validate()) {
                        if (url) {
                            this.form.action = url;
                        }
                        this.form.submit();
                    }
                    Object.extend(Validation.methods, nv);
                }
            }.bind(productAddToCartForm);

            //]]>
        </script>

    </div>
</div>