<?php
/**
 * Category view template
 *
 * @see Hellothemes_Priceslider_Block_Mainslider
 */
?>
<?php
$_helper    = $this->helper('catalog/output');
$_category  = $this->getCurrentCategory();
$_imgHtml   = '';
if ($_imgUrl = $_category->getImageUrl()) {
    $_imgHtml = '<p class="category-image"><img src="'.$_imgUrl.'" alt="'.$this->htmlEscape($_category->getName()).'" title="'.$this->htmlEscape($_category->getName()).'" /></p>';
    $_imgHtml = $_helper->categoryAttribute($_category, $_imgHtml, 'image');
}
?>

<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>

<?php if($this->isContentMode()): ?>
	<?php echo $this->getCmsBlockHtml() ?>
<?php elseif($this->isMixedMode()): ?>
	<?php echo $this->getCmsBlockHtml() ?>
	<?php echo $this->getProductListHtml() ?>
<?php else: ?>
	<?php echo $this->getProductListHtml() ?>
<?php endif; ?>