<?php $_product = $this->getProduct(); ?>
			
<?php $buttonTitle = $this->__('Add to Cart'); ?>
<?php if($_product->isSaleable()): ?>
<div class="add-to-cart">
    <span class="ajax_loading" id='ajax_loader'><img src='<?php echo $this->getSkinUrl('images/ajax-loader.gif')?>'/></span>
    <button type="button" title="<?php echo $buttonTitle ?>" class="button btn-cart" onclick="productAddToCartForm.submit(this)"><i></i><span><?php echo $buttonTitle ?></span></button>
    <?php echo $this->getChildHtml('', true, true) ?>
</div>
<?php endif; ?>

<?php if(!$_product->isGrouped()): ?>
<div class="qty-container clearfix">
	<a id="cart_remove" title="Remove" href="#"></a>
    <input type="text" name="qty" id="qty" maxlength="12" value="<?php echo $this->getProductDefaultQty() * 1 ?>" title="<?php echo $this->__('Qty') ?>" class="input-text qty" />
	<a id="cart_add" title="Add" href="#"></a>
</div>
<?php endif; ?>