<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento community edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Autorelated
 * @version    2.4.12
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><?php
$abstractBlock = $this->helper('awautorelated')->getAbstractProductBlock();
$collection = $this->getCollection();

if ($this->getPosition() == AW_Autorelated_Model_Source_Position::INSTEAD_NATIVE_RELATED_BLOCK) {

    $this->iterateBlock();

    if ($collection && $collection->getSize()) {
        $this->markAsShowed();
    } elseif ($this->showNativeBlock()) {
        echo $this->getParent()->getChildHtml('catalog-product-related');
    }
}
?>
<?php if ($collection && $collection->getSize()) : ?>
    <?php if (Mage::helper('awautorelated')->checkVersion('1.4')): ?>
    <div class="block block-related-product products-grid">
        <div class="block-title">
            <strong><span><?php echo $this->htmlEscape($this->getData('name')) ?></span></strong>
        </div>
        <div class="aw-arp-block-content">
            <?php else: ?>
                <div class="box base-mini mini-related-items aw-arp-block aw-arp-block-<?php echo $this->getData('id') ?>">
                    <div class="head">
                        <h4><?php echo $this->htmlEscape($this->getData('name')) ?></h4>
                    </div>
                    <div class="content ">
                    <?php endif; ?>
                    <ul class="products-grid no-carrousel">
                        <?php foreach ($collection as $product) : ?>
                            <li class="item span33 calc-price-box">
                                <div class="catalog-image">
                                    <a href="<?php echo $abstractBlock->getProductUrl($product) ?>">
                                        <img src="<?php echo $this->helper('catalog/image')->init($product, 'thumbnail')->resize(230) ?>" alt="<?php echo $this->htmlEscape($product->getName()) ?>" width="230" class="product-image" />
                                    </a>
                                    <a href="<?php echo $abstractBlock->getProductUrl($product) ?>" class="quick-view"><span><?php echo $this->__('Quick View') ?></span></a> 
                                </div>
                                <div class="details">
                                    <div class="content">
                                        <h2 class="product-name">
                                            <a href="<?php echo $abstractBlock->getProductUrl($product) ?>"><?php echo $this->htmlEscape($product->getName()) ?></a><br/>
                                        </h2>

                                        <?php echo $abstractBlock->getPriceHtml($product, true, '-related') ?>
                                        <?php if ($product->isSaleable()) : ?>
                                           <div class="aw-arp-addtocart product-actions">
                                            <button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart"
                                             onclick="setLocation('<?php echo $abstractBlock->getAddToCartUrl($product)?>')"><i></i><span>
                                                <span><?php echo $this->__('Add to Cart') ?></span></span></button>
<!--                                         <p>
                                            <a class="link-cart button btn-cart" href="javascript:setLocation('<?php echo $abstractBlock->getAddToCartUrl($product) ?>');"><?php //echo $this->__('Add to Cart') ?></a>
                                        </p> -->
                                    </div> 
                                    <?php else : ?>
                                        <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                                    <?php endif ?>
<!--                                 <?//php if ($this->helper('wishlist')->isAllow()) : ?>
                                    <a href="javascript:setLocation('<?php// echo $abstractBlock->getAddToWishlistUrl($product) ?>')" class="link-wishlist"><?php// echo $this->__('Add to Wishlist') ?></a>
                                    <?php //endif; ?> -->                                   
                                </div>
                                
                            </div>
                        </li>
                    <?php endforeach ?>
                </ul>
            </div>
        </div>
    <?php endif; ?>
