<?php $_menu = $this->renderCategoriesMenuHtml(0,'level-top') ?>
<?php if($_menu): ?>
<?php $categories_model = Mage::getModel('catalog/category'); ?>
<div class="navmobile categories">
		<ul id="left-nav">
			<?php foreach ($this->getStoreCategories() as $_category): ?>
				<?php if ($_category->getIsActive()): ?>
					<?php $isactive		= $this->isCategoryActive($_category); ?>
					<?php $hasChildren	= $_category->hasChildren(); ?>
					<?php $includeMenu 	= $categories_model->load($_category->getId())->getInclude_in_menu();?>
					<li class="category <?php if($isactive) echo 'active'; ?>" lang="<?php echo $_category->getId();?>"> 
						<a href="<?php echo !$hasChildren ? $this->getCategoryUrl($_category) : $this->getCategoryUrl($_category); ?>" >
							<?php if ($includeMenu): ?>
								<?php echo $_category->getName();?>
							<?php endif ?>
						</a>
						<?php if($hasChildren): ?><span class="arrow"></span><?php endif ?>
					</li>
					<?php if($hasChildren): ?>
					<li>
						<ul class="subcategory_<?php echo $_category->getId();?> subcategory" style="display:<?php echo $isactive? 'block' : 'none'; ?>;">
							<?php foreach ($categories_model->load($_category->getId())->getChildrenCategories() as $childCategory):?>
								<?php $includeMenuChild = $categories_model->load($childCategory->getId())->getInclude_in_menu(); ?>
								<?php if ($includeMenuChild): ?>
									<?php $isactive			= $this->isCategoryActive($childCategory); ?>
									<?php $hasmoreChildren	= $childCategory->hasChildren(); ?>
									<li class="category <?php if($isactive) echo 'active'; ?>" lang="<?php echo $childCategory->getId(); ?>">
										<a href="<?php echo !$hasmoreChildren ? $childCategory->getUrl() : $childCategory->getUrl(); ?>" >
											<?php echo $childCategory->getName();?>
										</a>
										<?php if($hasmoreChildren) echo " <span class='arrow'></span>"; ?>
									</li>
									<?php if($hasmoreChildren): ?>
									<li>								
										<ul class="subcategory_<?php echo $childCategory->getId(); ?> subcategory" style="display:<?php echo $isactive? 'block' : 'none'; ?>;">
											<?php foreach ($categories_model->load($childCategory->getId())->getChildrenCategories() as $_childCategory):?>
											<?php $includeMenuChild = $categories_model->load($_childCategory->getId())->getInclude_in_menu(); ?>
											<?php if ($includeMenuChild): ?>
												<?php $isactive	= $this->isCategoryActive($_childCategory);?>
												<li class="category">
													<a href="<?php echo $_childCategory->getUrl(); ?>">
														<?php echo $_childCategory->getName(); ?>
													</a>
												</li>
											<?php endif ?>
											<?php endforeach; ?>
										</ul>
									</li>
								<?php endif ?>
								<?php endif ?>
							<?php endforeach;?>
						</ul>
					<?php endif ?>
					</li>
				<?php endif ?>
			<?php endforeach ?>
		</ul>
</div>
<?php endif ?>