/* v 2.2.4 */
.h1_opc{text-transform:uppercase;font-size:22px;color:#000;}

.onepagecheckout_loginarea { margin: 10px 0 20px; }
.op_login_area{width:200px;padding:10px;border:1px solid #ccc;margin-bottom:15px;}
.op_login_area sup{color:#767676;font-size:100%;line-height:0;margin-left:3px;position:relative;top:6px;}
.op_login_area .buttons-set{margin-top:10px;}
.op_login_area .buttons-set a{color:#767676;}
.op_login_area .page-title{margin-bottom:10px;}
.close_la{position:relative;margin-bottom:-16px;top:-16px;right:-16px;cursor:pointer;float:right;width:16px;height:16px;
background:url("../images/onepagecheckout/cancel.png") no-repeat scroll 0 0 transparent;}
.op_login_area button.button{background-color: #892ab0;
-moz-box-shadow: 3px 3px 5px #ccc;-webkit-box-shadow: 3px 3px 5px #ccc;}
.op_login_area button.button span{background:none no-repeat scroll 0 0 transparent;border:0 none;
color:#FFFFFF;font:bold 12px/20px Arial,Helvetica,sans-serif;height:20px !important;padding:0 0 0 5px;text-transform:uppercase;}
.op_login_area button.button span span {background-position:100% 0;padding:0 5px 0 0;}

.onepagecheckout-index-index .onepagetitle { margin-bottom: 10px; }
.onepagecheckout-index-index .page-title { border-bottom:1px solid #000;margin:0;}
.ptdivline{width:100%;height:1px;margin:-1px 0 0;-moz-box-shadow: 0 2px 2px #999;-webkit-box-shadow: 0 2px 2px #999;box-shadow: 0 2px 2px #999;}
.onepagecheckout_datafields{border-bottom:1px solid #CCCCCC;padding-bottom:20px;}

#onepagecheckout_orderform .col3-set .col-1{width:27%;margin:0;}
#onepagecheckout_orderform .col3-set .col-2{width:33%;margin-left:4%;margin-right:0;}
#onepagecheckout_orderform .col3-set .col-3{float:right;}

#onepagecheckout_orderform #register-customer-password{margin-bottom:5px;}
#onepagecheckout_orderform #ship_address_block{margin-top:35px;}

.onepagecheckout_datafields .op_block_title{text-transform:uppercase;color:#892ab0;font-size:11pt;font-weight:bold;border-bottom:1px solid #ccc;margin: 25px 0 30px;}

.onepagecheckout_datafields .col-1 .form_fields .short {width:50%; float:left; }
.onepagecheckout_datafields .col-1 .form_fields div.two_fields .data_area { width: 95%; }
.onepagecheckout_datafields .col-1 .form_fields div.two_fields .short { margin-bottom:15px; }
.onepagecheckout_datafields .col-1 .form_fields input.t1 { width: 95%; padding:2px; background:none repeat scroll 0 0 #FFFFFF;border:1px solid #B6B6B6;}
.onepagecheckout_datafields .col-1 .form_fields select { width: 100%; }
.onepagecheckout_datafields .col-1 .form_fields div.full { margin:0 0 15px; }
.onepagecheckout_datafields .col-1 .form_fields div.full .data_area { width: 100%; }
.onepagecheckout_datafields .col-1 .form_fields div.full input.t1 { width: 95%; padding:2px; background:none repeat scroll 0 0 #FFFFFF;border:1px solid #B6B6B6;}
.onepagecheckout_datafields .col-1 .form_fields div.full select { width: 97%; }

.onepagecheckout_datafields .col-2 .form_fields div.full .data_area { width: 275px; }
.onepagecheckout_datafields .col-2 .form_fields div.full textarea { width: 254px; height: 85px; }
.onepagecheckout_datafields .col-2 .form-list li.wide .input-box { width: 275px; }
.onepagecheckout_datafields .col-2 .form-list li.wide textarea { width: 254px; height: 85px; }

.onepagecheckout_datafields .col-3 .form_fields div.full .data_area { width: 275px; }
.onepagecheckout_datafields .col-3 .form_fields div.full textarea { width: 280px; height: 60px; }
.onepagecheckout_datafields .col-3 .form-list li.wide .input-box { width: 275px; }
.onepagecheckout_datafields .col-3 .form-list li.wide textarea { width: 280px; height: 60px; }

.onepagecheckout_datafields #comment-block { width: 100%; }
.onepagecheckout_datafields #comment-label { font-weight:normal; }
.onepagecheckout_datafields #comment-block #order-comment{ width: 100%; padding:0px;}

.form_fields label {color:#767676;float:left;font-weight:normal;position:relative;z-index:0;}

.onepagecheckout_datafields .form_fields li {margin:0 0 8px;}
.onepagecheckout_datafields .form_fields li.options input.radio,
.onepagecheckout_datafields .form_fields li.options input.checkbox {margin-right:3px;}
.onepagecheckout_datafields .form_fields li.options label {float:none;}
.onepagecheckout_datafields .form_fields li.options .input-box {clear:none;display:inline;width:auto;}
li.options label {color:#767676;}

input, select, textarea, button{color:#000;} 

#onepagecheckout_orderform .col3-set .col-2 , #onepagecheckout_orderform .col3-set .col-1  { min-height: 450px;}

.onepagecheckout_datafields .gift-messages-form .item .details .form-list .field,
.onepagecheckout_datafields .gift-messages-form .item .details .form-list .input-box,
.onepagecheckout_datafields .gift-messages-form .item .details .form-list li.wide .input-box { width:186px; }
.onepagecheckout_datafields .gift-messages-form .item .details .form-list input.input-text,
.onepagecheckout_datafields .gift-messages-form .item .details .form-list li.wide textarea { width:165px; }

.onepagecheckout_datafields .sp-methods { margin: 0; }
.onepagecheckout_datafields #checkout-review-submit { margin: 10px 0 0; }
.onepagecheckout_datafields .checkout-agreements li { margin: 0 0 30px 0; }

.onepagecheckout_datafields .loading { background: url(../images/onepagecheckout/loader.gif) no-repeat 50% 50%; }

.onepagecheckout_datafields #checkout-shipping-method-load,
.onepagecheckout_datafields #checkout-payment-method-load,
.onepagecheckout_datafields #checkout-review-load { min-height: 50px; }

.onepagecheckout_datafields .newsletter { margin:0; padding:35px 0 10px 0; }
.onepagecheckout_datafields .buttons-set { margin: 5px 0 0; border:0;padding:2px 0 0;}
.onepagecheckout_datafields .checkout-agreements .last { margin: 0; }

.onepagecheckout_loginlink{	color:#767676;}

.onepagecheckout_datafields .discount .buttons-set button:first-child{margin-left:0} 

#onepagecheckout_orderform button.btn-checkout{border:0;margin-bottom:10px;padding:0 20px;
color:#FFFFFF;font:bold 16px/32px Arial,Helvetica,sans-serif;height:32px !important;text-transform:uppercase;
box-shadow:0px 0px 8px #555;
-webkit-box-shadow: 0px 0px 8px #555;
-moz-box-shadow:0px 0px 8px #555;
filter: progid:DXImageTransform.Microsoft.dropShadow(color=#555, offX=0, offY=0, positive=true);
}

#onepagecheckout_orderform .form_fields sup {color:#767676;font-size:100%;line-height:0;margin-left:3px;position:relative;top:6px;}

#onepagecheckout_orderform .form-list label.required em{color:#767676;}

#onepagecheckout_orderform .form-list label{text-align:left;}

/* CHECKOUT Review Your Order Table */
#checkout-review-table-wrapper{margin-top:-5px;}
.order-products-table { width:100%;color:#767676;}
.order-products-table .odd  { background:#fff; }
.order-products-table .even { background:#fff; }
.order-products-table td.last,
.order-products-table th.last { border-right:0; width:30%;}

.order-products-table th { padding:3px 8px; font-weight:bold; border-bottom:1px solid #BFBFBF;}
.order-products-table td { padding:8px 8px 2px;}

.order-products-table thead th{font-weight:bold;border-bottom:1px solid #848484;font-size:13px;padding:2px 0;color:#000;white-space:nowrap;vertical-align:middle;text-transform:uppercase;}
.order-products-table thead th.wrap { white-space:normal; }
.order-products-table thead th a,
.order-products-table thead th a:hover { color:#fff; }
.order-products-table thead th .tax-flag { font-size:11px; white-space:nowrap; }

.order-products-table tfoot { border:0;}
.order-products-table tfoot tr.first td{background-color:#ffffff;}
.order-products-table tfoot tr.last td{border:0 none !important;font-size:13px;text-transform:uppercase;color:#000;}
.order-products-table tfoot tr { background-color:#FFFFFF !important; }
.order-products-table tfoot td { border-bottom:1px solid #BFBFBF; }
.order-products-table tfoot strong { font-size:105%; }

.order-products-table tbody th,
.order-products-table tbody td { border:0; border-bottom:1px dotted #BFBFBF;}

.order-products-table tbody.odd tr { background:#f8f7f5 !important; }
.order-products-table tbody.even tr { background:#f6f6f6 !important; }
.order-products-table tbody.odd tr td,
.order-products-table tbody.even tr td { border-bottom:0; }
.order-products-table tbody.odd tr.border td,
.order-products-table tbody.even tr.border td { border-bottom:1px solid #d9dde3; }

.order-products-table tbody td .option-label { font-weight:bold; font-style:italic; }
.order-products-table tbody td .option-value { padding-left:10px; }

.clr{clear:both;}
.clear{clear:both;}

p.agree a{color:#8E8D8B;}
p.newsletter label{color:#8E8D8B;}

.onepagecheckout-window { border: none; background: #fff; z-index: 99999; position: absolute; text-align: left; }
.onepagecheckout-window .page-title span { color:#0A263C; font-size:20px; margin:0; }
.onepagecheckout-window .content { padding: 7px; overflow: auto; }
.onepagecheckout-window .close { position: absolute; top: -15px; right: -16px; width: 16px; height: 16px; background: url(../images/onepagecheckout/cancel_round.png) no-repeat 50% 50%; }
.onepagecheckout-window .buttons-set { margin: 1em 0 0; }

.d-shadow { position: absolute; width: 30%; left: 20%; top: 10%; }
.d-shadow-wrap { position: relative; width: 100%; padding: 15px 21px 0 21px; margin: -15px -21px 0 -21px; overflow: hidden; }
.d-sh-cn { position: absolute; background: url(../images/onepagecheckout/shd-medium.png) no-repeat; left: -25px; z-index: -1; }
.d-sh-tl,
.d-sh-tr { height: 500px; top: -28px; }
.d-sh-tl,
.d-sh-bl { width: 100%; }
.d-sh-tr,
.d-sh-br { width: 25px; margin-left: 100%; }
.d-sh-bl,
.d-sh-br { height: 28px; }
.d-sh-bl { left: -46px; padding-right: 42px; clip: rect(auto auto auto 25px); }
.d-sh-br { left: -4px; }

/* IE6 fix */
* html .onepagecheckout-hidden { visibility: hidden; }
* html .onepagecheckout-window { width: 500px; }
* html .d-sh-tl, * html .d-sh-tr { padding-right:42px; }
/* IE7 fix */
*:first-child+html .onepagecheckout-window { width: 500px; }

#onepagecheckout_loginbox #login-form .boxcontent input,
#onepagecheckout_forgotbox #forgot-password-form .boxcontent input{width:98%;}
.my-cart-link{float:right; color: #0B3A96; font-weight: bold; font-size:12px !important; text-decoration:none;}

/* modal form */
.iwdav_modal{width:700px;border:4px solid #9e9e9e;background-color:#fff;position:absolute;top:600px;z-index:10000;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}
.iwdav_modal_inner{border:1px solid #8b8a87;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}
.iwdav_modal_mobile{position:relative; left:auto !important;top:0px !important;width:98% !important;height:auto !important;margin:10px auto;}
.iwdav_modal .iwd_container{background:transparent;margin: 5px;padding:15px 20px 0px;color:#000;}
.iwdav_modal_mobile .iwd-container{height:auto !important;}

.iwdav_modal .iwd_container p, .iwdav_modal .iwd_container{color:#343030;font-size:13px;line-height:18px;font-family:arial;}
.iwdav_modal .iwd_container p{text-align:center;font-size:14px;}
.iwdav_modal .iwd-buttons-set{padding:10px 20px 23px;margin:0 auto;text-align:center;}
.iwdav_modal .iwd-buttons-set .iwd-button{
border:1px solid #7b7475;
-webkit-border-radius:5px;
-moz-border-radius:5px;
border-radius:5px;
-webkit-box-shadow: inset 0px 0px 1px 1px rgba(191,191,185,1);
-moz-box-shadow: inset 0px 0px 1px 1px rgba(191,191,185,1);
box-shadow: inset 0px 0px 1px 1px rgba(191,191,185,1);	

color:#fff;font-size:13px;font-weight:bold;text-align:center;line-height:27px;
text-shadow:1px 1px #1a1a1a;padding:0 22px;text-transform:uppercase;cursor:pointer;

	/* Mozilla Firefox */
	background: -moz-linear-gradient(top, #8c8c8a, #6f6f6f) !important;
	/* Webkit (Safari/Chrome 10) */
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#8c8c8a), to(#6f6f6f)) !important;
	/* Webkit (Chrome 11+) */
	background: -webkit-linear-gradient(top, #8c8c8a, #6f6f6f) !important;
	/* Opera */ 
	background: -o-linear-gradient(top, #8c8c8a, #6f6f6f) !important;
	/* W3C Markup, IE10 Release Preview */
	background: linear-gradient(to bottom, #8c8c8a, #6f6f6f) !important;
	/* IE10 Consumer Preview */
	background: -ms-linear-gradient(top, #8c8c8a 0%, #6f6f6f 100%) !important;

	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8c8c8a', endColorstr='#6f6f6f',GradientType=0 ) !important; /* IE6-9 */
}
.iwdav_modal .iwd-buttons-set .iwd-button:hover{
	/* Mozilla Firefox */
	background: -moz-linear-gradient(top, #5f5f5f, #3f3f3f) !important;
	/* Webkit (Safari/Chrome 10) */
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#5f5f5f), to(#3f3f3f)) !important;
	/* Webkit (Chrome 11+) */
	background: -webkit-linear-gradient(top, #5f5f5f, #3f3f3f) !important;
	/* Opera */ 
	background: -o-linear-gradient(top, #5f5f5f, #3f3f3f) !important;
	/* W3C Markup, IE10 Release Preview */
	background: linear-gradient(to bottom, #5f5f5f, #3f3f3f) !important;
	/* IE10 Consumer Preview */
	background: -ms-linear-gradient(top, #5f5f5f 0%, #3f3f3f 100%) !important;

	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5f5f5f', endColorstr='#3f3f3f',GradientType=0 ) !important; /* IE6-9 */
}

.iwd-verification-title{padding:1px;}

.iwd-verification-title .iwd-head{
    line-height: 14px;
    background-color:#e8e7e3;
    padding: 13px 18px;
	text-align:left;
	margin:0;
	font-size:18px;
	color:#343030;
	font-weight:bold;
	font-family:arial;
}

.va_label{float:left;width:155px;}
.va_choice{float:left;}
.va_choice input{margin-top:-5px;}
.bs_tit{font-size:14px;font-weight:bold;margin-bottom:5px;}

.iwdavPopupOverlay{position:absolute;width:0px;height:0px;top:0px;left:0px;opacity:0.3;z-index:9998;background-color:rgb(0, 0, 0);
filter: alpha(opacity = 30);-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";-moz-opacity: 0.3;-khtml-opacity: 0.3;}