<?php /* @var $this Hd_Bccp_Block_Form_Bcc */ ?>
<?php $_code = $this->getMethodCode() ?>
<?php $_options = $this->getPaymentOptions(); ?>
<ul class="form-list" id="payment_form_<?php echo $_code ?>" style="display:none;">
    <li class="hidden">
        <div>
            <input type="hidden" id="<?php echo $_code ?>_cc_payment_id"            name="payment[cc_payment_id]" value=""/>
            <input type="hidden" id="<?php echo $_code ?>_gateway_cc_code"          name="payment[gateway_cc_code]" value=""/>
            <input type="hidden" id="<?php echo $_code ?>_gateway_bank_code"        name="payment[gateway_bank_code]"value=""/>
            <input type="hidden" id="<?php echo $_code ?>_gateway_promo_code"       name="payment[gateway_promo_code]"value=""/>
        </div>
    </li>
    
    <?php if ($_options['bcc']['order'] == 'ccb'):?>
    <li>
        <label for="<?php echo $_code ?>_cc_id"><?php echo $this->__('Select Credit Card') ?> <span class="required">*</span></label>
        <div class="input-box">
            <select id="<?php echo $_code ?>_cc_id" name="payment[cc_id]" class="required-entry"></select>
        </div>
    </li>
    <?php endif;?>
    
    <li>
        <label for="<?php echo $_code ?>_bank_id"><?php echo $this->__('Select Bank') ?> <span class="required">*</span></label>
        <div class="input-box">
            <select id="<?php echo $_code ?>_bank_id" name="payment[bank_id]" class="required-entry"></select>
        </div>
    </li>
    
    <?php if ($_options['bcc']['order'] == 'bcc'):?>
    <li>
        <label for="<?php echo $_code ?>_cc_id"><?php echo $this->__('Select Credit Card') ?> <span class="required">*</span></label>
        <div class="input-box">
            <select id="<?php echo $_code ?>_cc_id" name="payment[cc_id]" class="required-entry"></select>
        </div>
    </li>
    <?php endif;?>
    
    <li>
        <label for="<?php echo $_code ?>_payments"><?php echo $this->__('Select Payments') ?> <span class="required">*</span></label>
        <div class="input-box">
            <select id="<?php echo $_code ?>_payments" name="payment[payments]" class="required-entry"></select>
        </div>
    </li>
    <script type="text/javascript">
    //<![CDATA[
    (function($){
        
        window['paymentForm_<?php echo $_code ?>'] = 
            new Hd.Bccp.FormBcc(<?php echo $this->getPaymentOptionsJson(); ?>);
        
    }(jQuery));
    //]]>
    </script>
    <?php // Custom Form Data ?>
    <?php echo $this->getChildFormHtml(); ?>
</ul>
