<?php /* @var $this Hd_Bccp_Block_Form_Cc */ ?>
<?php $_code = $this->getMethodCode() ?>
<ul class="form-list" id="payment_form_<?php echo $_code ?>" style="display:none;">
    <li class="hidden">
        <div>
            <input type="hidden" id="<?php echo $_code ?>_cc_payment_id"            name="payment[cc_payment_id]" value=""/>
            <input type="hidden" id="<?php echo $_code ?>_gateway_cc_code"          name="payment[gateway_cc_code]" value=""/>
        </div>
    </li>
    <li>
        <label for="<?php echo $_code ?>_cc_id"><?php echo $this->__('Select Credit Card') ?> <span class="required">*</span></label>
        <div class="input-box">
            <select id="<?php echo $_code ?>_cc_id" name="payment[cc_id]" class="required-entry"></select>
        </div>
    </li>
    <li>
        <label for="<?php echo $_code ?>_payments"><?php echo $this->__('Select Payments') ?> <span class="required">*</span></label>
        <div class="input-box">
            <select id="<?php echo $_code ?>_payments" name="payment[payments]" class="required-entry"></select>
        </div>
    </li>
    
    <script type="text/javascript">
    //<![CDATA[
    (function($){
        
        window['paymentForm_<?php echo $_code ?>'] = 
            new Hd.Bccp.FormCc(<?php echo $this->getPaymentOptionsJson(); ?>);
        
    }(jQuery));
    //]]>
    </script>
    <?php // Custom Form Data ?>
    <?php echo $this->getChildFormHtml(); ?>
</ul>
