<?php if($this->getCurrencyCount()>1): ?>
<div class="currency-switch">
	<div class="selectSwitch2"></div>
    <ul class="ulSelect2" style="display:none;">
        <?php foreach ($this->getCurrencies() as $_code => $_name): ?>
            <li <?php if($_code==$this->getCurrentCurrencyCode()): ?> class="selected"<?php endif; ?>>
                <a href="<?php echo $this->getSwitchCurrencyUrl($_code) ?>">
				<?php //echo $_name ?><?php echo Mage::app()->getLocale()->currency($_code)->getSymbol()?>
				<?php //echo $_code ?>
				</a>
            </li>
        <?php endforeach; ?>
    </ul>
</div>
<?php endif; ?>