<?php
$block_data = $this->getBlockData();
$blocks = $block_data['block'];
$banners = $block_data['banners'];
$click_url = $this->getUrl('bannerslider/index/click');
?>
<script type="text/javascript" src="<?php echo $this->getJsUrl('magestore/bannerslider/jquery-1.7.min.js') ?>"></script>
<script src="<?php echo $this->getJsUrl('magestore/bannerslider/jquery.flexslider.js') ?>"></script>
<link rel="stylesheet" type="text/css" href="<?php echo $this->getSkinUrl('css/magestore/bannerslider/flexslider.css') ?>" media="all" />

<style>
.flex-control-nav{
    width: 45%;
    position: absolute;
    bottom: 10px;
    text-align: center;
    left: 0%;
}
</style>

<script type="text/javascript">
    var j7 = jQuery.noConflict();
    j7(window).load(function() {
        j7('.flexslider-7-<?php echo $blocks['bannerslider_id'] ?>').flexslider({
            animation: "<?php echo $blocks['animationB'];?>",
            slideshowSpeed: <?php echo $blocks['slider_speed'];?>
            //minItems: 2,
            //maxItems: <?php echo $this->getMaxItem($blocks['max_item']); ?>            
        });
    });
</script>
<div class="flexslider flexslider-7-<?php echo $blocks['bannerslider_id'] ?>">
    <ul class="slides"> 
    <?php foreach ($banners as $banner): ?>
            <li>
                <a href="<?php echo $banner['click_url']?>" target="<?php echo $this->getTarget($banner['tartget'])?>" onclick="bannerClicks('<?php echo $banner['banner_id'] ?>','<?php echo $blocks['bannerslider_id'] ?>')" style="display:block"><img alt="<?php echo $banner['image_alt'];?>" src="<?php echo $this->getBannerImage($banner['image']); ?>"/></a>
                <div class="description text-left span3">
                        <div class="contenttext">
                                <h3><?php echo $banner['name'];?></h3>
                            <p><?php echo $banner['image_alt'];?></p>
                            <button class="button button_slide" onclick='window.location="<?php echo $banner['click_url'];?>"' style="width:100%;"><i></i>
                                <?php echo $this->__('PRESUPUESTAR') ?>
                            </button>
                        </div>
                </div>
            </li>
    <?php endforeach; ?>        
    <!-- items mirrored twice, total of 12 -->
    </ul>
</div>
<script type="text/javascript">
        function bannerClicks(id_banner,id_slider){
		var click_url = '<?php echo $click_url;?>';
		banner_id = id_banner;
		new Ajax.Request(click_url,{
			method: 'post',
			parameters:{id_banner: banner_id, slider_id:id_slider},
			onFailure: '',
			onSuccess: ''
			
		});
		
	}
    </script>