
.icon-calendar:before { content: '\e800'; } /* '' */
.icon-cambios:before { content: '\e801'; } /* '' */
.icon-carrito:before { content: '\e802'; } /* '' */
.icon-credit-card:before { content: '\e803'; } /* '' */
.icon-lock:before { content: '\e804'; } /* '' */
.icon-lupa:before { content: '\e805'; } /* '' */
.icon-micuenta:before { content: '\e806'; } /* '' */
.icon-plus:before { content: '\e807'; } /* '' */