<?php
/**
 * Inchoo Catalog custom search form
 *
 * @see Inchoo_Search_Block_Form
 */
?>
<?php $maxQueryLength= $this->helper('catalogsearch')->getMaxQueryLength();?>
<div class="page-title">
    <h1><?php echo $this->__('Search') ?></h1>
</div>
<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
<form action="<?php echo $this->getSearchPostUrl() ?>" method="get" id="form-validate">
    <div class="fieldset buscar-sommiers">
        <h2 class="legend"><?php echo $this->__('Search Settings') ?></h2>
        <ul class="form-list" id="custom-search-list">
            <?php foreach ($this->getSearchableAttributes() as $_attribute): ?>
            <?php $_code = $_attribute->getAttributeCode() ?>
                <?php if($_code == 'tipo'):?>
                    <li>
                    <label for="<?php echo $_code ?>"><?php echo $this->getAttributeLabel($_attribute) ?></label>
                    <?php switch($this->getAttributeInputType($_attribute)):
                        case 'number': ?>
                        <div class="input-range">
                            <input type="text" name="<?php echo $_code ?>[from]" value="<?php echo $this->escapeHtml($this->getAttributeValue($_attribute, 'from')) ?>" id="<?php echo $_code ?>" title="<?php echo $this->escapeHtml($this->getAttributeLabel($_attribute)) ?>" class="input-text validate-number" maxlength="<?php echo $maxQueryLength;?>" />
                            <span class="separator">-</span>
                            <input type="text" name="<?php echo $_code ?>[to]" value="<?php echo $this->escapeHtml($this->getAttributeValue($_attribute, 'to')) ?>" id="<?php echo $_code ?>_to" title="<?php echo $this->escapeHtml($this->getAttributeLabel($_attribute)) ?>" class="input-text validate-number" maxlength="<?php echo $maxQueryLength;?>" />
                        </div>
                        <?php break;
                        case 'price': ?>
                        <div class="input-range">
                            <input name="<?php echo $_code ?>[from]" value="<?php echo $this->escapeHtml($this->getAttributeValue($_attribute, 'from')) ?>" id="<?php echo $_code ?>" title="<?php echo $this->escapeHtml($this->getAttributeLabel($_attribute)) ?>"  class="input-text validate-number" type="text" maxlength="<?php echo $maxQueryLength;?>" />
                            <span class="separator">-</span>
                            <input name="<?php echo $_code ?>[to]" value="<?php echo $this->escapeHtml($this->getAttributeValue($_attribute, 'to')) ?>" id="<?php echo $_code ?>_to" title="<?php echo $this->escapeHtml($this->getAttributeLabel($_attribute)) ?>"  class="input-text validate-number" type="text" maxlength="<?php echo $maxQueryLength;?>" />
                            <small>(<?php echo $this->getCurrency($_attribute); ?>)</small>
                        </div>
                        <?php break;
                        case 'select': ?>
                               <div class="input-box"> <?php echo $this->getAttributeDropDownElement($_attribute) ?>     </div>
                        <?php break;
                        case 'yesno': ?>
                            <?php echo $this->getAttributeYesNoElement($_attribute) ?>
                        <?php break;
                        case 'date': ?>
                        <div class="input-range">
                            <?php echo $this->getDateInput($_attribute, 'from') ?>
                            <span class="separator">-</span>
                            <?php echo $this->getDateInput($_attribute, 'to') ?>
                        </div>
                        <?php break;
                        default: ?>
                        <div class="input-box">
                            <input type="text" name="<?php echo $_code ?>" id="<?php echo $_code ?>" value="<?php echo $this->escapeHtml($this->getAttributeValue($_attribute)) ?>" title="<?php echo $this->escapeHtml($this->getAttributeLabel($_attribute)) ?>"  class="input-text <?php echo $this->getAttributeValidationClass($_attribute) ?>" maxlength="<?php echo $maxQueryLength;?>" />
                        </div>
                    <?php endswitch; ?>

                </li>
                <?php endif; ?>
                <?php if($_code == 'tamanio'):?>
                    <li>
                    <label for="<?php echo $_code ?>"><?php echo $this->getAttributeLabel($_attribute) ?></label>
                    <?php switch($this->getAttributeInputType($_attribute)):
                        case 'number': ?>
                        <div class="input-range">
                            <input type="text" name="<?php echo $_code ?>[from]" value="<?php echo $this->escapeHtml($this->getAttributeValue($_attribute, 'from')) ?>" id="<?php echo $_code ?>" title="<?php echo $this->escapeHtml($this->getAttributeLabel($_attribute)) ?>" class="input-text validate-number" maxlength="<?php echo $maxQueryLength;?>" />
                            <span class="separator">-</span>
                            <input type="text" name="<?php echo $_code ?>[to]" value="<?php echo $this->escapeHtml($this->getAttributeValue($_attribute, 'to')) ?>" id="<?php echo $_code ?>_to" title="<?php echo $this->escapeHtml($this->getAttributeLabel($_attribute)) ?>" class="input-text validate-number" maxlength="<?php echo $maxQueryLength;?>" />
                        </div>
                        <?php break;
                        case 'price': ?>
                        <div class="input-range">
                            <input name="<?php echo $_code ?>[from]" value="<?php echo $this->escapeHtml($this->getAttributeValue($_attribute, 'from')) ?>" id="<?php echo $_code ?>" title="<?php echo $this->escapeHtml($this->getAttributeLabel($_attribute)) ?>"  class="input-text validate-number" type="text" maxlength="<?php echo $maxQueryLength;?>" />
                            <span class="separator">-</span>
                            <input name="<?php echo $_code ?>[to]" value="<?php echo $this->escapeHtml($this->getAttributeValue($_attribute, 'to')) ?>" id="<?php echo $_code ?>_to" title="<?php echo $this->escapeHtml($this->getAttributeLabel($_attribute)) ?>"  class="input-text validate-number" type="text" maxlength="<?php echo $maxQueryLength;?>" />
                            <small>(<?php echo $this->getCurrency($_attribute); ?>)</small>
                        </div>
                        <?php break;
                        case 'select': ?>
                               <div class="input-box"> <?php echo $this->getAttributeDropDownElement($_attribute) ?>     </div>
                        <?php break;
                        case 'yesno': ?>
                            <?php echo $this->getAttributeYesNoElement($_attribute) ?>
                        <?php break;
                        case 'date': ?>
                        <div class="input-range">
                            <?php echo $this->getDateInput($_attribute, 'from') ?>
                            <span class="separator">-</span>
                            <?php echo $this->getDateInput($_attribute, 'to') ?>
                        </div>
                        <?php break;
                        default: ?>
                        <div class="input-box">
                            <input type="text" name="<?php echo $_code ?>" id="<?php echo $_code ?>" value="<?php echo $this->escapeHtml($this->getAttributeValue($_attribute)) ?>" title="<?php echo $this->escapeHtml($this->getAttributeLabel($_attribute)) ?>"  class="input-text <?php echo $this->getAttributeValidationClass($_attribute) ?>" maxlength="<?php echo $maxQueryLength;?>" />
                        </div>
                    <?php endswitch; ?>

                </li>
                <?php endif; ?>
                <?php if($_code == 'tecnologia'):?>
                    <li>
                    <label for="<?php echo $_code ?>"><?php echo $this->getAttributeLabel($_attribute) ?></label>
                    <?php switch($this->getAttributeInputType($_attribute)):
                        case 'number': ?>
                        <div class="input-range">
                            <input type="text" name="<?php echo $_code ?>[from]" value="<?php echo $this->escapeHtml($this->getAttributeValue($_attribute, 'from')) ?>" id="<?php echo $_code ?>" title="<?php echo $this->escapeHtml($this->getAttributeLabel($_attribute)) ?>" class="input-text validate-number" maxlength="<?php echo $maxQueryLength;?>" />
                            <span class="separator">-</span>
                            <input type="text" name="<?php echo $_code ?>[to]" value="<?php echo $this->escapeHtml($this->getAttributeValue($_attribute, 'to')) ?>" id="<?php echo $_code ?>_to" title="<?php echo $this->escapeHtml($this->getAttributeLabel($_attribute)) ?>" class="input-text validate-number" maxlength="<?php echo $maxQueryLength;?>" />
                        </div>
                        <?php break;
                        case 'price': ?>
                        <div class="input-range">
                            <input name="<?php echo $_code ?>[from]" value="<?php echo $this->escapeHtml($this->getAttributeValue($_attribute, 'from')) ?>" id="<?php echo $_code ?>" title="<?php echo $this->escapeHtml($this->getAttributeLabel($_attribute)) ?>"  class="input-text validate-number" type="text" maxlength="<?php echo $maxQueryLength;?>" />
                            <span class="separator">-</span>
                            <input name="<?php echo $_code ?>[to]" value="<?php echo $this->escapeHtml($this->getAttributeValue($_attribute, 'to')) ?>" id="<?php echo $_code ?>_to" title="<?php echo $this->escapeHtml($this->getAttributeLabel($_attribute)) ?>"  class="input-text validate-number" type="text" maxlength="<?php echo $maxQueryLength;?>" />
                            <small>(<?php echo $this->getCurrency($_attribute); ?>)</small>
                        </div>
                        <?php break;
                        case 'select': ?>
                               <div class="input-box"> <?php echo $this->getAttributeDropDownElement($_attribute) ?>     </div>
                        <?php break;
                        case 'yesno': ?>
                            <?php echo $this->getAttributeYesNoElement($_attribute) ?>
                        <?php break;
                        case 'date': ?>
                        <div class="input-range">
                            <?php echo $this->getDateInput($_attribute, 'from') ?>
                            <span class="separator">-</span>
                            <?php echo $this->getDateInput($_attribute, 'to') ?>
                        </div>
                        <?php break;
                        default: ?>
                        <div class="input-box">
                            <input type="text" name="<?php echo $_code ?>" id="<?php echo $_code ?>" value="<?php echo $this->escapeHtml($this->getAttributeValue($_attribute)) ?>" title="<?php echo $this->escapeHtml($this->getAttributeLabel($_attribute)) ?>"  class="input-text <?php echo $this->getAttributeValidationClass($_attribute) ?>" maxlength="<?php echo $maxQueryLength;?>" />
                        </div>
                    <?php endswitch; ?>

                </li>
                <?php endif; ?>
            <?php endforeach; ?>
        </ul>
        <script type="text/javascript">decorateList('custom-search-list')</script>
    </div>
    <div class="buttons-set">
        <button type="submit" title="<?php echo $this->__('Search') ?>" class="button"><span><span><?php echo $this->__('Search') ?></span></span></button>
    </div>
</form>
<script type="text/javascript">
//<![CDATA[
    var dataForm = new VarienForm('form-validate', true);
//]]>
</script>
