<!--@subject {{var subject}} @-->
Magento<br>
Moneybookers dirección de correo electrónico: {{var email_addr}}<br>
Moneybookers ID del cliente: {{var customer_id}}<br>
URL: {{var url}}<br>
Idioma: {{var language}}<br>