{* This is a comment block

Available vars in this template:
  - $userName           User name
  - $applicationName    Application name
  - $status             Token new status

Use vars: {{var var_name}}
*}<!--@subject Welcome, {{var name}} @-->
<!--@vars
{"htmlescape var=$userName":"User name",
"var $applicationName":"Application name",
"var $status":"Token new status"}
@-->

Hola, {{htmlescape var=$userName}}<br /><br />
Su autorización para <b>{{htmlescape var=$applicationName}}</b> se ha cambiado a <b>{{htmlescape var=$status}}</b> por la Administración.<br /><br />
