<?php /* @var $this Hd_Bccp_Block_Form_Bcc */ ?>
<?php $_code = $this->getMethodCode() ?>
<ul class="form-list" id="payment_form_<?php echo $_code ?>" style="display:none;">
    <li class="hidden">
        <div>
            <input type="hidden" id="<?php echo $_code ?>_cc_payment_id"            name="payment[cc_payment_id]" value=""/>
            <input type="hidden" id="<?php echo $_code ?>_gateway_cc_code"          name="payment[gateway_cc_code]" value=""/>
            <input type="hidden" id="<?php echo $_code ?>_gateway_bank_code"        name="payment[gateway_bank_code]"value=""/>
            <input type="hidden" id="<?php echo $_code ?>_gateway_promo_code"       name="payment[gateway_promo_code]"value=""/>
        </div>
    </li>
    
    <li>
        <label for="<?php echo $_code ?>_cc_id"><?php echo $this->__('Select Credit Card') ?> <span class="required">*</span></label>
        <div class="input-box">
            <select id="<?php echo $_code ?>_cc_id" name="payment[cc_id]" class="required-entry"></select>
        </div>
    </li>
    
    <li>
        <label for="<?php echo $_code ?>_bank_id"><?php echo $this->__('Select Bank') ?> <span class="required">*</span></label>
        <div class="input-box">
            <select id="<?php echo $_code ?>_bank_id" name="payment[bank_id]" class="required-entry"></select>
        </div>
    </li>
    
    <li>
        <label for="<?php echo $_code ?>_payments"><?php echo $this->__('Select Payments') ?> <span class="required">*</span></label>
        <div class="input-box">
            <select id="<?php echo $_code ?>_payments" name="payment[payments]" class="required-entry"></select>
        </div>
    </li>
    <script type="text/javascript">
    //<![CDATA[
    (function($){
        $(document).ready(function() {
        
            var _methodCodeBcc  = '<?php echo $_code ?>';
            var _methodFormBcc  = 'hd_bccp_form_<?php echo $_code ?>';
            var _formConfigBcc  = <?php echo $this->getPaymentOptionsJson(); ?>;

            // Form Config
    //        _formConfigBcc.auto_init = false;

            // Add Method to avoid default events binding
            window.order.addLcPaymentMethod(_methodCodeBcc);

            // Delete Previous Control
            if(window[_methodFormBcc] !== undefined) {
                delete(window[_methodFormBcc]);
            }

            // Create Object
            window[_methodFormBcc] = new Hd.Bccp.FormBcc(_formConfigBcc);
            
        });
        
    }(jQuery));
    //]]>
    </script>
    <?php // Custom Form Data ?>
    <?php echo $this->getChildFormHtml(); ?>
</ul>
