<?php /* @var $this Hd_Bccp_Block_Form_Cc */ ?>
<?php $_code = $this->getMethodCode() ?>
<ul class="form-list" id="payment_form_<?php echo $_code ?>" style="display:none;">
    <li class="hidden">
        <div>
            <input type="hidden" id="<?php echo $_code ?>_cc_payment_id"            name="payment[cc_payment_id]" value=""/>
            <input type="hidden" id="<?php echo $_code ?>_gateway_cc_code"          name="payment[gateway_cc_code]" value=""/>
        </div>
    </li>
    <li>
        <label for="<?php echo $_code ?>_cc_id"><?php echo $this->__('Select Credit Card') ?> <span class="required">*</span></label>
        <div class="input-box">
            <select id="<?php echo $_code ?>_cc_id" name="payment[cc_id]" class="required-entry"></select>
        </div>
    </li>
    <li>
        <label for="<?php echo $_code ?>_payments"><?php echo $this->__('Select Payments') ?> <span class="required">*</span></label>
        <div class="input-box">
            <select id="<?php echo $_code ?>_payments" name="payment[payments]" class="required-entry"></select>
        </div>
    </li>
    
    <script type="text/javascript">
    //<![CDATA[
    (function($) {
        $(document).ready(function() {
            
            var _methodCodeCc   = '<?php echo $_code ?>';
            var _methodFormCc   = 'hd_bccp_form_<?php echo $_code ?>';
            var _formConfigCc   = <?php echo $this->getPaymentOptionsJson(); ?>;

            // Form Config
//            _formConfigCc.auto_init = false;

            // Add Method to avoid default events binding
            window.order.addLcPaymentMethod(_methodCodeCc);
            
            // Delete Previous Control
            if(window[_methodFormCc] !== undefined) {
                delete(window[_methodFormCc]);
            }
            
            // Create Object
            window[_methodFormCc] = new Hd.Bccp.FormCc(_formConfigCc);
            
        });
        
    }(jQuery));
    
    //]]>
    </script>
    <?php // Custom Form Data ?>
    <?php echo $this->getChildFormHtml(); ?>
</ul>
